

 <div   style="width:100%; height: 100%; background-color: rgb(53, 53, 53);"> 


    <div  fxLayoutAlign="center center" fxFlex="100" > 


          <div class="container" fxLayout="row rwap"  fxFlex="40" fxLayoutAlign="center center"  style="padding: 30px;height: 28vw; " >
                  
              <div fxLayout="row rwap" fxFlex="100"  fxLayoutAlign="end center">
                    <mat-icon routerLink="/home" style="font-size: 2.2vw; cursor: pointer;">close </mat-icon>
              </div>    
              
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 30px; line-height: 20px;"  >

                <mat-label  style="font-size: 3vw; text-align: center; word-spacing: 3px; letter-spacing: 1px; line-height : 5px; margin-bottom: 20px;  ">  ¡Bienvenido !  </mat-label>
                
                <mat-label fxFlex="90" style="font-size: 1.3vw; text-align: center; margin-top: 25px">Oficialmente haces parte de una de las comunidades mas grandes de industrias creativas</mat-label>
                
                <mat-label fxFlex="90" style="font-size: 1.3vw; text-align: center;margin-top: 20px"> A partir de ahora, podrás ser anfitrión de eventos, festivales, ofertas de trabajo y mucho mas.</mat-label>
                    
          
              <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 70px;"  >
           
               <button fxFlex="80" mat-raised-button  appearance="outline" type="submit" style="background-color: black;border-radius: 30px;" routerLink="../../artistas/industrias"><mat-label style="color: blanchedalmond;">Siguiente</mat-label></button>
               
               </div> 

            </div>
                           
          </div> 

    </div>  
    
      
    
  
    </div>     
    
   


