
.header{
  height: 200px;
  margin-top: 20px;
  
  -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
  -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);   
}

.perfil{
  background-color: black;
  color: white;
  font-size: 1vw;
}

.imgProfile{
  border-radius: 50px;
  width: 50%;
}

.toolbarProfile{
  font-size: 2em;
}

.example-form {
    // min-width: 15px;
    max-width: 15vw;
    width: 100%;
    max-height: 10px;
    font-size: 12px;
  }
  
  .example-full-width {
    width: 100%;
  }

  ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }
  
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }

   .mat-raised-button {
    height: 40px;
    border-radius: 28px !important;
    background-color: black;
    color: white;  

  }

  .industrias {
    height: 40px;
    border-radius: 28px !important;
    border: 1px solid rgb(212, 212, 212);
    width: 10em;

  }



.mat-button {
    font-size: 1.2vw;
    border-radius: 28px !important;
  }

   .mat-button:hover {
    background-color: white;
  }

  .mat-toolbar{

     height: 2.5em;
     border-radius: 28px;
  }
 

  .example-chip-list {
    width: 100%;
  }

  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  .mat-dialog-container {
    border-radius: 400px !important;
    padding: auto;
  }
  // .custom .mat-dialog-container {
  //   border-radius: 500px !important;
  // }
  

  /* -----------------------------------------------------@media-------------------------------------------  */
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (max-width: 479px) {
    
       
       
    }  
       
     
    
    
    /* Medium devices (landscape tablets, 768px and up) */

   
    @media only screen and (min-width: 480px) and (max-width: 767px){
    
       .mat-button {
  
    
      
        
    
      }
       
    }  
       
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
       
      .mat-button {
          font-size: 1.8vw;
      }
  

      
    
    }

    @media only screen and (min-width: 960px) and (max-width: 1199px) {
       
   
  

      
    
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {

             
     
       
    }