


<div class="header" fxLayout="row wrap" style="">

  

    <div fxFlex="100" fxLayoutAlign=" "  style=" height: 80px;">
      
        
        <div  fxFlex="33"  style="cursor: pointer;"> 
            
                 <img src="./assets/logoClap.png" style="margin-left: 2em;" routerLink="./home" >
        </div>


        <div fxLayoutAlign="center" fxFlex="33" > 
              <form class="example-form" fxFlex="60" >
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label> &nbsp; Buscar </mat-label>
                  <!-- <span matPrefix>+1 &nbsp;</span> -->
                  <input type="text" matInput>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </form>
          </div>

                                                              <!-- PARA GOOGLE *ngIf="showMainDashboard && !user">  -->
          <!-- main button up dashboard start -->
          <div class="" fxLayout="wrap" fxFlex="33" fxLayoutAlign="end start" *ngIf="showNoLogginDashboard"> 
        
      
          <button  mat-raised-button fxShow="" appearance="outline" type="submit" routerLink="../auth/registro" style="margin-right: 2em;">Registrate</button>

          <button  mat-raised-button  appearance="outline" type="submit" routerLink="../auth/login" style="margin-right: 2em;">Iniciar Sesion</button>
     

          </div>
          <!-- main button up dashboard end -->


          <!-- Profile button up dashboard start -->
                                                                <!-- PARA GOOGLE*ngIf="showProfileDashboard || user"     -->

          <div class="" fxLayout="wrap" fxFlex="33" fxLayoutAlign="end" *ngIf="showProfileDashboard" >

            <div  >
            <button mat-mini-fab color="warn" >
             <mat-icon   > notifications</mat-icon>
            </button>
          </div>
             <!-- ESTO ES PARA GOOGLE!!!!!!!!!!!!!!!!! -->
             <!-- <div *ngIf="user">
              <img *ngIf="user.photoUrl"  src="{{ user.photoUrl }}" class="imgProfile">
              </div> -->
              <mat-label> {{dataUser.id}}</mat-label>
              <!-- <button mat-icon-button ><mat-icon aria-hidden="false" class="material-icons-outlined" style="font-size: 2vw; margin-right: 1.5vw;"> account_circle</mat-icon>
              </button> -->
             <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
             <mat-icon aria-hidden="false" class="material-icons-outlined" style="font-size: 2vw; margin-right: 2vw;"> menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="../../artistas/mis-aplicaciones">
                <mat-label>Mis Aplicaciones</mat-label>
              </button>
              <button mat-menu-item routerLink="../../artistas/guardados">
                <mat-label>Guardados</mat-label>
              </button>
              <button mat-menu-item  routerLink="../../artistas/ajustes">
                <mat-label>Ajustes</mat-label>
              </button>
              <button mat-menu-item routerLink="../../artistas/perfil">   
                <mat-label >Perfil</mat-label>
              </button>

              <mat-divider></mat-divider>

              <button mat-menu-item  routerLink="../../cerrar-sesion">
              <span >Cerrar Sesion</span>
             </button>
            
            </mat-menu>

       
  
            </div>
          <!-- Profile button up dashboard end -->


  

</div>

<!-- Main ToolBar start-->
<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" *ngIf="showMainDashboard">

  <div  fxFlex.gt-xs="17"  fxFlex.md="20"  fxFlex.lg="20" >

    <button mat-raised-button class="perfil" appearance="outline" *ngIf="userLogin"  fxFlex="25" routerLink="../artistas/perfil" style="margin-left: 2em;">  <b>Perfil</b> </button>


    <button mat-button class="industrias" appearance="outline" *ngIf="!userLogin" [matMenuTriggerFor]="industries" style="margin-left: 2em;">  <b>Industrias</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #industries="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
</div>


<div fxFlex.gt-xs="65"  fxFlex.md="60" fxFlex.lg="60"  >

    <mat-toolbar fxLayout="row wrap" fxLayoutAlign="space-around center" class="mat-elevation-z10" fxLayoutGap.md="30px" fxLayoutGap.lg="0px" [ngStyle]="styleObject()"  >
 
        <button mat-button routerLink="../artistas/lista"> Personas</button>        
        <button mat-button (click)="getJobs()"         routerLink="../empleos">  Empleos</button>
        <button mat-button (click)="getBusiness()"     routerLink="../empresas"> Empresas</button>
        <button mat-button routerLink="../escuelas/lista"> Escuelas</button>
        <button mat-button (click)="getEvents()"       routerLink="../eventos"  >Eventos</button>
        <button mat-button (click)="getCompetitions()" routerLink="../concursos"  >Concursos</button> 
        <!-- <button mat-button  routerLink="../gestion-aplicantes"  >Concursos</button>   -->

          

        
    </mat-toolbar>
</div>


<div fxFlex.gt-xs="17" fxFlex.md="20" fxFlex.lg="20"></div>

</div>
<!-- Main ToolBar End -->


<!-- Profile Menu start-->
<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" *ngIf="showMenuProfile">
  
  <div  fxFlex.gt-xs="17"  fxFlex.md="20"  fxFlex.lg="40" >

    <button mat-raised-button class="perfil" appearance="outline"  fxFlex="25" routerLink="../artistas/perfil">  <b>Perfil</b> </button>

</div>
  
  <div fxFlex.gt-xs="65"  fxFlex.md="60" fxFlex.lg="30" >
    
    <mat-toolbar class="toolbarProfile" fxLayout="row wrap" fxLayoutAlign="space-around center" class="mat-elevation-z10" 
        [ngStyle]="styleObject()"  >
        <button mat-button (click)="getJobs()"         routerLink="../empleos">  Empleos</button>
        <button mat-button (click)="getEvents()"       routerLink="../eventos"  >Eventos</button>
        <button mat-button (click)="getCompetitions()" routerLink="../concursos"  >Concursos</button>  

    </mat-toolbar>

  </div>

      
<div fxFlex.gt-xs="17" fxFlex.md="20" fxFlex.lg="10"></div>
 <div>
</div>
</div>
<!-- Profile Menu End -->

<!-- Profile-Bookmarks Menu start-->
<!-- <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" *ngIf="showProfileBookmarksDashboard">
  
  <div  fxFlex.gt-xs="17"  fxFlex.md="20"  fxFlex.lg="40" >

    <button mat-button class="perfil" appearance="outline" fxFlex="25"> <b>Perfil</b> </button>

</div>
  
  <div fxFlex.gt-xs="65"  fxFlex.md="60" fxFlex.lg="30"  >
    
    <mat-toolbar class="toolbarProfile" fxLayout="row wrap" fxLayoutAlign="space-around center" class="mat-elevation-z10" 
          >

        <button mat-button  [matMenuTriggerFor]="jobs" >  Empleos</button>
        <mat-menu #jobs="matMenu"  >
          <button mat-menu-item fxLayoutAlign="center">Crear</button>
          <button mat-menu-item fxLayoutAlign="center">Creados</button>
          <button mat-menu-item fxLayoutAlign="center">Mis aplicaciones</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="events"  >Eventos</button>
        <mat-menu #events="matMenu"  >
          <button mat-menu-item fxLayoutAlign="center">Crear</button>
          <button mat-menu-item fxLayoutAlign="center">Creados</button>
          <button mat-menu-item fxLayoutAlign="center">Mis aplicaciones</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="competition" >Concursos</button>  
        <mat-menu #competition="matMenu"  >
          <button mat-menu-item fxLayoutAlign="center">Crear</button>
          <button mat-menu-item fxLayoutAlign="center">Creados</button>
          <button mat-menu-item fxLayoutAlign="center">Mis aplicaciones</button>
        </mat-menu>

    </mat-toolbar>

  </div>

      
<div fxFlex.gt-xs="17" fxFlex.md="20" fxFlex.lg="10"></div>

</div> -->
<!-- Profile-Bookmarks Menu End -->


</div>







<!-- end header -->


<!-- <button mat-button (click)="openDialog()">Perfil</button>
<button mat-button (click)="openDialogExperience()">Experiencia</button>
<button mat-button (click)="openDialogEducation()">Educacion</button>
<button mat-button (click)="openDialogJob()">Empleos</button> -->





  
  
  
  





