


<div  fxLayout="row wrap" fxLayoutAlign="center center " fxFlex="100" style="height: 15vw; ">

    

    <div fxFlex="100">
        
    <div class="" fxFlex ="33"> 
         
              <mat-icon matSuffix fxFlexOffset="10">search</mat-icon>
    </div>


   <div fxLayoutAlign="center" fxFlex="33" > 
    <form class="example-form" >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>&nbsp;Buscar</mat-label>
          <!-- <span matPrefix>+1 &nbsp;</span> -->
          <input type="text" matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>

    <div class="" fxFlex="33" fxLayout="row"> 
 
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>&nbsp;Registrarse</mat-label>
              <!-- <span matPrefix>+1 &nbsp;</span> -->
              <input type="text" matInput>
              <!-- <mat-icon matSuffix>search</mat-icon> -->
            </mat-form-field>
        </div>
 
        <div>
        <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>&nbsp;Iniciar Sesion</mat-label>
            <input type="text" matInput>
          </mat-form-field>
    </div>
  </div>

  

</div>
<!-- <br><br><br> -->

<!-- ToolBar start-->
<div  fxFlex="100" fxLayoutAlign="center" >

    <mat-toolbar  fxLayoutAlign="space-between center" style="background-color: #61a7e9; width: 50vw;border-radius: 2em; height: 2em;">

        <button mat-button (click)="getPeople()" style="color: black; font-size:medium;"> Personas</button>        
        <button mat-stroked-button  (click)="getJobs()" style="color: black; font-size: medium;">Empleos</button>
        <button mat-button  style="color: black; font-size: medium;" >Empresas</button>
        <button mat-button  style="color: black; font-size: medium;" >Eventos</button>
        <button mat-button  style="color: black; font-size: medium;" >Concursos</button>       
        
    </mat-toolbar>
</div>
<!-- ToolBar End -->






<!-- Chips start -->
<div fxFlex="100" style="margin-top: 2em;">
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
        {{fruit.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="New fruit..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>  
</div>
<!-- Chips end -->



<!-- end header -->


<button mat-button (click)="openDialog()">Perfil</button>
<button mat-button (click)="openDialogExperience()">Experiencia</button>
<button mat-button (click)="openDialogEducation()">Educacion</button>
<button mat-button (click)="openDialogJob()">Empleos</button>


<div fxLayout="row wrap" >

<!-- se muestran cuando se presiona persona -->
<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between center" style="margin-top: 3em;" *ngIf="showPeople">

  <button mat-raised-button> <b>FILTROS</b></button>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Campos</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Habilidades</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Software</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Idiomas</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-raised-button> <b>Experiencia</b></button>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Min</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Max</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Contrato</b>  <mat-icon >expand_more</mat-icon></button>
  <mat-menu #aboveMenu="matMenu" >
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab style="background-color: #61a7e9;" aria-label="Example icon button with a delete icon">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
  
  
  </div>
  
  
  
  <!-- se muestran cuando se presiona EMPLEOS -->
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" style="margin-top: 3em;" *ngIf="showJobs">
  
    <button mat-raised-button> <b>FILTROS</b></button>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Categoría</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Modalidad</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Salario</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>$</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button> <b>Experiencia</b></button>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Min</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Max</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <mat-form-field class="" appearance="outline">
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Contrato</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab style="background-color: #61a7e9;" aria-label="Example icon button with a delete icon">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
    
    
    </div>
  <!-- FIN EMPLEOS -->
    
</div>
</div>