




<div class="mat-dialog-container">

    <div >
  
 
  
          <mat-dialog-actions align="end" fxLayoutAlign="space-between center">
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">arrow_back</mat-icon>
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">close</mat-icon>
          </mat-dialog-actions>
  </div>
  <br>
  <h1 mat-dialog-title>Añade tu educación </h1>
  <mat-label style="font-size: 0.9em;">*campos obligatorios</mat-label>
  <br>
  
  <mat-dialog-content>

 

  <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
  
  
      <form  [formGroup]="myForm" (ngSubmit)="sendForm()" id="form" fxFlex="100"  >     
  
         
          
      
          
        <div fxLayoutAlign="space-between center">  

          
            <mat-form-field appearance="outline" fxFlex="49" > 
              
            <mat-label>Disciplina académica*</mat-label>
                    <input matInput type="text" required formControlName="education">
                    <mat-error  *ngIf ="validField ('education')">
                      completa este dato
                    </mat-error> 
            </mat-form-field>
           
       
            
  
          <mat-form-field appearance="outline" fxFlex="49">		
          
            <mat-label >Título</mat-label>
            <input matInput type="text" required formControlName="degree">
             <mat-error  *ngIf ="validField ('degree')">
                completa este dato / no es un formato de email valido
            </mat-error> 

          </mat-form-field> 
          
   
        </div>
          

        <div fxLayoutAlign="space-between center" >
        
          <mat-form-field appearance="outline" fxFlex="49" >
            
            <mat-label>Institución académica*</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <!-- <mat-error  *ngIf ="validField ('titular')">
                  completa este dato
              </mat-error>  -->
        </mat-form-field>
       

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
          
        <div fxLayoutAlign="space-between center" >
        
            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Pais*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            
            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Ciudad*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  
       
          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
        
        </div>  

        <div fxLayoutAlign="space-between center" >

            <mat-form-field appearance="outline" fxFlex="49" >
              
                <mat-label>Modalidad*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            <section class="example-section" fxFlex="49" >
               
                    <mat-radio-button class="example-margin" value="after">Estudio actualmente acá</mat-radio-button>
             
                <!-- <mat-label style="font-size: 1em;"></mat-label> -->

            </section>
            

        </div>

       
  
        <div fxLayoutAlign="center center" style="background-color: #61a7e9; height: 5em;" >
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" style="border-radius: 30px;"><mat-label >Guardar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" style="border-radius: 30px;"><mat-label >Previsualizar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" style="background-color: black;border-radius: 30px;"><mat-label style="color: blanchedalmond;">Publicar</mat-label></button>
        </div> 
    
        </form>
   </div>
  
  </mat-dialog-content>
  
  
  </div> 
