
.mat-dialog-container{

    border: 5px solid #aae8b9;
    padding: 30px;
    // padding-bottom: 50px;
    // border-radius: 25px;
}

img{
    width: 80%;
}



.keyboard_arrow_left{
    background-color: #aae8b9;
     border-radius: 30px;
     cursor: pointer; 
   
}

.keyboard_arrow_left:hover{
    background-color: #9ffbb6;

}



.openSidenav{
    display: block;
    transition: all 3s ease 0s; 
}



.closeSidenav{
    display: none;
}
mat-card{
    overflow-x: scroll;
}