


<div class="mat-dialog-container" style="border: 5px solid #61a7e9;" >

    <div >
  
 
  
          <mat-dialog-actions align="end" fxLayoutAlign="space-between center">
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">arrow_back</mat-icon>
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">close</mat-icon>
          </mat-dialog-actions>
  </div>
  <br>
  <h1 mat-dialog-title style="color: #61a7e9;">Añade tu experiencia </h1>
  <br>
  
  <mat-dialog-content>

 

  <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
  
  
      <form  [formGroup]="myForm" (ngSubmit)="sendForm()" id="form" fxFlex="100"  >     
  
         
          
      
          
        <div fxLayoutAlign="space-between center">  

          
            <mat-form-field appearance="outline" fxFlex="49" > 
              
            <mat-label >Cargo del Empleo*</mat-label>
                    <input matInput type="text" required formControlName="jobTitle">
            </mat-form-field>

            <!-- <mat-error  *ngIf ="validField ('jobTitle')">
                completa este dato
            </mat-error>  -->
               
  
          <mat-form-field appearance="outline" fxFlex="49" style="border-color: 5px solid #61a7e9;">		
          
            <mat-label style="border-color: 5px solid #61a7e9;" >Empresa en la que trabajaste*</mat-label >
            <input matInput type="text" required formControlName="company"style="border-color: 5px solid #61a7e9;">

          </mat-form-field> 
          
            <!-- <mat-error  *ngIf ="validField ('company')">
                completa este dato / no es un formato de email valido
            </mat-error>  -->
        </div>
          

        <div fxLayoutAlign="space-between center" >
        
          <mat-form-field appearance="outline" fxFlex="49" >
            
            <mat-label>Tipo de empleo*</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
        </mat-form-field>
                <!-- <mat-error  *ngIf ="validField ('titular')">
                    completa este dato
                </mat-error>  -->

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
          
        <div fxLayoutAlign="space-between center" >
        
            <mat-form-field appearance="outline" fxFlex="49" >
              
              <mat-label>Link portafolio de este empleo</mat-label>
                  <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                  </mat-select>
          </mat-form-field>   

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
        
        </div>  

        <div fxLayoutAlign="space-between center" >

            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Pais*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            
            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Ciudad*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            <section class="example-section" fxFlex="49" >
               
                    <mat-radio-button class="example-margin" value="after">Trabajo actualmente acá</mat-radio-button>
             
                <!-- <mat-label style="font-size: 1em;"></mat-label> -->

            </section>
            

        </div>

        <div fxLayoutAlign="center"  >

        <mat-form-field appearance="outline" fxFlex="100" >
            <mat-label>Descripcion del trabajo</mat-label>
            <textarea matInput 
            rows="7" 
             formControlName="comment" 
            (change)="onCommentChange()">          
            </textarea>
        </mat-form-field> 
        
    </div>
  
        <div class="buttonGroup" fxLayoutAlign="center center" fxLayoutGap="20px"  >
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit"><mat-label >Guardar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" ><mat-label >Previsualizar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" style="background-color: black;;"><mat-label style="color: blanchedalmond;">Publicar</mat-label></button>
        </div> 
    
        </form>
   </div>
  <br><br><br>  </mat-dialog-content>
  
  
  </div> 
