


<div   style="width:100%; height: 100%; background-color: rgb(53, 53, 53);">


    <div  fxLayoutAlign="end center" fxFlex="50" >

         <div class="container" fxLayout="row rwap" fxLayoutAlign="space-between start" style="padding: 20px;" >
      
      
               
                 <div  fxFlex="90"  fxLayoutAlign="end center"  >
                    
                 
              
                        <mat-icon routerLink="/home" style="font-size: 2.2vw; cursor: pointer;">close </mat-icon>
                
                </div>    
            
                <div fxFlex="100"  style="margin-top: 50px; padding:10px;">
                    <h1><b>Iniciar Sesión</b></h1>
                    <h2>¿No tienes una cuenta? <a routerLink="/auth/registro"> <b>Registrate</b></a></h2>

<form  [formGroup]="myForm" (ngSubmit)="sendForm()" id="form">     


    <div fxLayoutAlign="center center"> 

            <mat-form-field appearance="outline" fxFlex="100" >		
            <mat-label fxLayoutAlign="center">Correo electronico</mat-label>
            <input matInput type="text" required formControlName="web">
        </mat-form-field> 
 
    </div>

    <div fxLayoutAlign="center">
        <mat-form-field appearance="outline" fxFlex="100">		
            <mat-label fxLayoutAlign="center" >Contraseña</mat-label>
            <input matInput type="text" required formControlName="titular">
        </mat-form-field> 
 
        </div>
            
                

   

        <div fxLayout="row wrap" fxLayoutAlign="space-between center"  >

            <div>
        <section class="example-section" fxFlex="100"  >

         <mat-radio-button class="example-margin" value="after">Mantener sesión iniciada</mat-radio-button>
    

        </section>  
    </div>
          <div>

        <section class="example-section" fxFlex="100" >

            <a>Olvidé mi Contraseña</a>
   
           </section>
        </div>  
        </div>     
        
        
        <div fxLayoutAlign="center center" style="margin-top: 10px;"  >
        
            <button  fxFlex="100" mat-raised-button  appearance="outline" type="submit" style="background-color: black;border-radius: 30px;"><mat-label style="color: blanchedalmond;">Iniciar Sesión</mat-label></button>
            
            </div> 
</form>      
    <hr>

    <div fxLayoutAlign="center center"  >
        
        <button  fxFlex="100" mat-raised-button  appearance="outline" type="submit" style="background-color: rgb(42, 111, 175);border-radius: 30px;"><mat-label style="color: blanchedalmond;">Conectar con Linkedin</mat-label></button>
        
        </div> 
        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 40px" >
        
            <button  fxFlex="100" mat-raised-button  appearance="outline" type="submit"  style="background-color: whitesmoke;border-radius: 30px;" (click)="signInWithGoogle()"><img src="assets/google.png" fxFlex="10" fxFlexOffset="18"  > <mat-label> &nbsp; Conectar con Google</mat-label></button>
            
            </div>     


                </div>


              


       
        </div>    
    
    </div>      


  

    <div fxFlex="50" fxLayoutAlign="end center">
        <img src="assets/clapLetter.png" alt="">
    </div>

</div>