


<div  class="container" fxLayout="row wrap" fxLayoutAlign="center center" >

    <div fxFlex="100" fxLayout="column wrap" fxLayoutAlign="center center" style="line-height: 30px;">
        <mat-label style="font-size: 4vw;">¿Cómo te quieres registrar?</mat-label>
        <br><br>
        <mat-label style="font-size: 1.4vw;">Todos nuestros perfiles te permiten crear eventos y concursos</mat-label>
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px"  style="margin-top: 30px; line-height: 30px;">
        
        <div  class="card" fxFlex="15" fxLayout="column wrap" fxLayoutAlign="center center" routerLink="../../bienvenida">
            <img src="assets/IndustPeople.png" alt="">
            
            <mat-label style="font-size: 2vw; margin-top: 15px;">Persona</mat-label>
        </div>
        
        <div class="card" fxFlex="15" fxLayoutAlign="center center" fxLayout="column wrap">
            <img src="assets/IndustSchool.png" alt="">
            <mat-label style="font-size: 2vw; margin-top: 15px;">Escuela</mat-label>

        </div>

        <div class="card" fxFlex="15" fxLayoutAlign="center center" fxLayout="column wrap">
            <img src="assets/IndustBusiness.png" alt="">
            <mat-label style="font-size: 2vw; margin-top: 15px;">Empresa</mat-label>

        </div>

    </div>

</div>
