




<div class="mat-dialog-container" style="border: 5px solid #61a7e9;">

    <div >
  
 
  
          <mat-dialog-actions align="end" fxLayoutAlign="space-between center">
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">arrow_back</mat-icon>
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">close</mat-icon>
          </mat-dialog-actions>
  </div>
  <br>
  <h1 mat-dialog-title style="color: #61a7e9;">Añade tu educación </h1>
  <!-- <mat-label style="font-size: 0.9em;">*campos obligatorios</mat-label> -->
  <br>
  
  <mat-dialog-content>

 

  <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
  
  
      <form  [formGroup]="myForm" (ngSubmit)="sendForm()" id="form" fxFlex="100"  >     
  
         
          
      
          
        <div fxLayoutAlign="space-between center">  

          
            <mat-form-field appearance="outline" fxFlex="49" > 
              
            <mat-label>Disciplina académica</mat-label>
                    <input matInput type="text" required formControlName="education">
                    <!-- <mat-error  *ngIf ="validField ('education')">
                      completa este dato
                    </mat-error>  -->
            </mat-form-field>
           
       
            
  
          <mat-form-field appearance="outline" fxFlex="49">		
          
            <mat-label >Título</mat-label>
            <input matInput type="text" required formControlName="degree">
             <!-- <mat-error  *ngIf ="validField ('degree')">
                completa este dato / no es un formato de email valido
            </mat-error>  -->

          </mat-form-field> 
          
   
        </div>
          

        <div fxLayoutAlign="space-between center" >
        
          <mat-form-field appearance="outline" fxFlex="49" >
            
            <mat-label>Institución académica</mat-label>
                <mat-select required formControlName="school">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let school of schools" [value]="school">{{school}}</mat-option>
                </mat-select>
                <!-- <mat-error  *ngIf ="validField ('titular')">
                  completa este dato
              </mat-error>  -->
        </mat-form-field>
       

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="picker" required formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
          
        <div fxLayoutAlign="space-between center" >
        
            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Pais</mat-label>
                    <mat-select required formControlName="country">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let country of countrys" [value]="country">{{country}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            
            <mat-form-field appearance="outline" fxFlex="24">
              
                <mat-label>Ciudad</mat-label>
                    <mat-select required formControlName="city">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let city of citys" [value]="city">{{city}}</mat-option>
                    </mat-select>
            </mat-form-field>  
       

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de finalización</mat-label>
            <input matInput [matDatepicker]="dp3" required formControlName="endDate" >
            <mat-datepicker-toggle matSuffix [for]="dp3">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dp3></mat-datepicker>
          </mat-form-field> 
        
        </div>  

        <div fxLayoutAlign="space-between center" >

            <mat-form-field appearance="outline" fxFlex="49" >
              
                <mat-label>Modalidad</mat-label>
                    <mat-select required formControlName="modo">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let modo of modos" [value]="modo">{{modo}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            <section class="example-section" fxFlex="49" >
               
                    <mat-radio-button class="example-margin" value="after">Estudio actualmente acá</mat-radio-button>
             

            </section>
            

        </div>

       
        <div class="buttonGroup" fxLayoutAlign="center center" fxLayoutGap="20px"  >
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit"><mat-label >Guardar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="" ><mat-label >Previsualizar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="" style="background-color: black;;"><mat-label style="color: blanchedalmond;">Publicar</mat-label></button>
        </div> 
    
    
        </form>
   </div>
  
  </mat-dialog-content>
  
  
  </div> 
