
.container{
    width: 100%;
}


img{
    width: 80%;
    height: 80%;
}



.spacer {
 
    flex: 1 1 auto;  //eso le dice al span que cubra el espacio disponible entre los botones
}

.mat-divider{
    border-top-width: 1px;
    display: block;
    // width: 3px;
}

.card{

     border-radius: 20px;
     margin-bottom: 0px;
     
     border-top: 4px solid #61a7e9;
     border-right: 6px solid #61a7e9;
     border-bottom: 10px solid #61a7e9;
     border-left: 6px solid #61a7e9;

     box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    //  margin-top: 15px;


}

.btnHeader{
     background-color: #61a7e9;
     height: 50px;


    //  border: 5px solid #050505;
     
}

.whiteBorder{
     border: 4px solid rgb(240, 240, 240);
     margin-top: 30px;

     border-radius: 20px; 
     box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);

    -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
}

.about{
    border:4px solid #61a7e9;
    height: 300px; 
    margin-top: 30px;
    border-radius: 15px;
}

.text{
    padding: 20px;
}

.life{
    height: 220px;
    padding: 15px;

    background: #b4b2b2;
    background: linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -webkit-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -moz-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);;

    border-radius: 20px; 
    box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
    
   -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
   -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);   
}



.resumeImg{
   background-image: url(../../../../../assets/resume.png);
   background-position: center;
   background-size:contain;
   background-repeat: no-repeat;


}

.resumeImg:hover{
    transform: scale(0.99);
}

.portfolio{
    height: 220px;

    background: #b4b2b2;
    background: linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -webkit-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -moz-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);;

    border-radius: 20px; 
    box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
    
   -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
   -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);   
}

.portfolioImg{
    border-radius: 20px; 
    background-image: url(../../../../../assets/faro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience{
    border: 4px solid #61a7e9;
    border-radius: 10px;
}


// .card:hover {
//     background-color:  #8cbce9;
//     .follow{
//         background-color: whitesmoke;
//     }
//     .bookmark{
//         color: whitesmoke;
//     }
//     .text{
//         color: white;
//     }

// }
.bookmark{
    font-size: 2em;
    margin-right: 0.5em;
    color: rgb(185, 185, 185);
}

.follow{
    background-color: #61a7e9;
    border-radius: 15px;
    line-height: 20px;
     margin-right: 1em;

}



.mat-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    font-size: 1.2vw;
}


.mat-raised-button:active{
    background-color:#61a7e9 ;
}

.mat-form-field{
    font-size: 1em;
}