
.container{
    width: 100%;
}


img{
    width: 90%;
    height: 90%;
}



.mat-divider{
    border-top-width: 1px;
    display: block;
    // width: 3px;
}

.card{

     border-radius: 20px;
     margin-bottom: 20px;
     margin-top: 20px;
     
     border-top: 4px solid #b0bcec;
     border-right: 1px solid #b0bcec;
     border-bottom: 4px solid #b0bcec;
     border-left: 1px solid #b0bcec;

     box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    //  margin-top: 15px;


}

.cardSimilar{

    border-radius: 20px;
    border: 4px solid #b0bcec;

    box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
}

.btnHeader{
     background-color: #b0bcec;
     height: 50px;

     box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
     -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
     -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
     
}

.conditionalHeader{
    height: 100px;
    margin-top: 10px;

    box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);

    border-radius: 0px 0px 25px 23px;
    -webkit-border-radius: 0px 0px 25px 23px;
    -moz-border-radius: 0px 0px 25px 23px;

    border-top: 10px none #b0bcec;
    border-right: 4px solid #b0bcec;
    border-bottom: 4px solid #b0bcec;
    border-left: 4px solid #b0bcec;
    
}

.whiteBorder{
     border: 4px solid rgb(240, 240, 240);
     margin-top: 30px;

     border-radius: 20px; 
     box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);

    -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
}

.about{
    border:4px solid #b0bcec;
    // height: 300px; 
    margin-top: 30px;
    border-radius: 15px;
}

.text{
    padding: 20px;
}

.life{
    height: 220px;
    padding: 15px;

    background: #b4b2b2;
    background: linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -webkit-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -moz-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);;

    border-radius: 20px; 
    box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
    
   -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
   -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);   
}



.resumeImg{
   background-image: url(../../../../../assets/resume.png);
   background-position: center;
   background-size:contain;
   background-repeat: no-repeat;


}

.resumeImg:hover{
    transform: scale(0.99);
}

.portfolio{
    height: 220px;
    border-radius: 20px; 

    background: #b4b2b2;
    background: linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -webkit-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);
    background: -moz-linear-gradient(180deg,#b4b2b2 0%, #ffffff 50%);;

    box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
   -webkit-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);
   -moz-box-shadow: -19px 15px 14px -21px rgba(0,0,0,0.75);   
}

.portfolioImg{
    border-radius: 20px; 
    background-image: url(../../../../../assets/faro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience{
    border: 4px solid #b0bcec;
    border-radius: 10px;
}
.education{
    border: 4px solid #b0bcec;
    border-radius: 10px;
}

.divider{
    height: 2px;
    background-color:rgb(209, 209, 209); 
    margin-top: 35px;
    margin-bottom: 35px;
}
.btnSave{
    background-color: black;
    color:white;
    font-size: 1vw;
    border-radius: 20px; 
    margin-right: 10px;
    
    box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);

}
// .card:hover {
//     background-color:  #8cbce9;
//     .follow{
//         background-color: whitesmoke;
//     }
//     .bookmark{
//         color: whitesmoke;
//     }
//     .text{
//         color: white;
//     }

// }
.bookmark{
    font-size: 2em;
    margin-right: 0.5em;
    color: rgb(185, 185, 185);
}

.follow{
     border-radius: 15px;
     line-height: 25px;
     margin-right: 1em;
     border: 4px solid #b0bcec
}

.follow:hover{
    background-color: #b0bcec;
    // border-radius: 15px;
    // line-height: 20px;
    //  margin-right: 1em;
}



.mat-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    font-size: 1.2vw;
}


.mat-raised-button:active{
    background-color:#b0bcec ;
}

.mat-form-field{
    font-size: 1em;
}