


<div class="container" fxLayoutAlign="center"  *ngFor="let ap of api" >


<!-- start profile -->
<div fxFlex="70"  fxLayoutAlign="center" >
    
<!-- start container (border) profile -->
    <div class="whiteBorder" fxFlex="90" fxLayout="row wrap" fxLayoutAlign="center center"> 
      
    



<div  class="cardHeader" fxFlex="100" style=""  >
  
      <div fxLayout="row wrap" (mouseover)="btnPressedOut()">

  

 <div  fxFlex="25" fxLayoutAlign="center center"  style=" height: 180px; " >

              
        <img mat-card-image [src]="[ap.picture.large]" fxFlex="60" style="border-radius: 100px; margin-left: 10px;">  			
</div>

  <div  fxLayout="row wrap" fxFlex="75" style=" height: 180px;">

         


        <div fxFlex="50" fxLayout="row wrap" style=" height: 180px;  ">

            <!-- <mat-label style="font-size: 2vw;"> <b>{{artist.userName | uppercase}}</b></mat-label> <br>
             -->
             <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" style="margin: 1px;line-height: 20px;   letter-spacing: -1px;">
                <h5 class="nameHeader" fxFlex="100">{{artist.firstName}} &nbsp;{{artist.lastName}}</h5> 
                <!-- <h5 class="nameHeader" fxFlex="100">{{ap.name.first}} &nbsp;{{ap.name.last}}</h5>  -->

            
                <p fxFlex="100" > {{seniorityDate}} años de Experiencia</p> 
                <p fxFlex="100">Ingles - Español</p>
                <p fxFlex="100">Bogota Colombia</p>
                <p fxFlex="100">{{artist.email}} </p>
            </div>    

                
            </div>
            
    
            <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="end space-around" style="height: 180px; padding: 10px; padding-right: 30px;">
            
            <div fxFlex="100" fxLayoutAlign="end end" *ngIf="edit" style="">
                <button  mat-button  appearance="outline" type="submit" class="follow">Seguir</button>

                <mat-icon class="bookmark" >bookmark_border</mat-icon>
                <mat-icon class="bookmark" >more_vert</mat-icon>       
            
            </div>

            <div fxFlex="100" fxLayoutAlign="end end" style="" >
                <button  mat-button  appearance="outline" type="submit" class="edit" (click)="openDialogCardUser()" >Editar</button>

                    <mat-icon class="material-icons-outlined share"  >share</mat-icon>
                
                
                </div>

        <div fxLayoutAlign="end" style="" fxFlex="100"><mat-label style="font-size: 1.3vw; color: rgb(173, 173, 173);"> 43 Seguidos</mat-label></div>

            <div  fxFlex.xs="10" fxLayoutAlign="end center" fxLayoutGap="8px" style="">

                <div fxLayoutAlign="center center"  class="social"> <img src="assets/instagram.svg"> </div>
                <div fxLayoutAlign="center center"  class="social"> <img src="assets/twitter.svg"> </div>
                <div fxLayoutAlign="center center"  class="social"> <img src="assets/youtube.svg"> </div>
                <div fxLayoutAlign="center center"  class="social"> <img src="assets/vimeo.svg"> </div>
                <div fxLayoutAlign="center center"  class="social"> <img src="assets/pinterest.svg"> </div>
                <div fxLayoutAlign="center center"  class="social"> <img src="assets/behance.svg"> </div>
            </div>

        </div>           
    
    
    </div>
  </div>
  
  <div  class="btnHeader" fxLayout="row wrap" fxLayoutAlign="center center" >
   
    <div fxFlex="20"  fxLayoutAlign="center"  >
        <button  mat-button  appearance="outline" > Mis Industrias</button>
    </div>
    <div fxFlex="70" fxLayoutAlign="start end" fxLayoutGap="10" >

        <button  mat-button class="btnIndustries" appearance="outline" fxFlex="30" (mouseover)="btnPressed('graphic')">Diseño Grafico</button>
        <button  mat-button class="btnIndustries" appearance="outline" fxFlex="30" (mouseover)="btnPressed('animation')"  >Animación</button>
        <button  mat-button class="btnIndustries" appearance="outline" fxFlex="30" (mouseover)="btnPressed('photo')">  Fotografía</button>
    </div>
    <div fxFlex="10" fxLayoutAlign="end" class="pencilEdit" (click)="openDialogIndustries()" >
        <img src="assets/edit.svg" alt="" style="margin-right: 20px;">
    </div>

  </div>

</div>
<!-- end card -->


        

      

<!-- start conditional "Diseño grafico" -->
<div class="conditionalHeader"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="graphic"  > 
     <!-- (mouseleave)="btnPressedOut()" -->
  
        <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10" style="margin-top: 20px;" >
    
            <button  mat-button  appearance="outline" >Diseño Editorial</button>
            <button  mat-button  appearance="outline" >diseño UX/UI</button>
            <button  mat-button  appearance="outline" >Branding</button>
            <!-- <button  mat-button  appearance="outline" >Empaques</button> -->
            
        </div>
    
    
</div>
<!-- end conditional "diseño grafico" -->


<!-- start conditional "animacion" -->
<div class="conditionalHeader"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center"
*ngIf="animation" (mouseleave)="btnPressedOut()" > 

   <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10" style="margin-top: 20px;">

       <button  mat-button  appearance="outline" >Animación 3D</button>
       <button  mat-button  appearance="outline" >Modelado</button>
       <button  mat-button  appearance="outline" >Impresión 3D</button>
       
   </div>


 </div>
<!-- end conditional "animacion" -->

<!-- start conditional "animacion" -->
<div class="conditionalHeader"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="photo" (mouseleave)="btnPressedOut()"  > 

   <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10"style="margin-top: 20px;">

       <button  mat-button  appearance="outline" >Fotografía Publicitaria</button>
       <button  mat-button  appearance="outline" >Retratos</button>
       <button  mat-button  appearance="outline" >Paisajismo</button>
       
   </div>


 </div>
<!-- end conditional "animacion" -->


<!-- start "about" -->
<div class="about" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:40px; margin-top: 35px;" >

    <div>
        <mat-label style="margin-left: 20px; font-size: 1.2vw; color: rgb(139, 139, 139);">  Acerca de</mat-label>
    </div>
    <div  fxLayoutAlign="center center" class="pencilEdit">
        <img src="assets/edit.svg" alt="" (click)="hidAbout()"  style="margin-right: 20px; cursor: pointer;">
        <!-- <mat-icon class="material-icons-outlined" aria-hidden="false" fxLayoutAlign="center center" (click)="hidAbout()" style="font-size: 2vw; margin-right: 10px; cursor: pointer; " >edit</mat-icon> -->
    </div>

</div>
<!-- end about -->

<!-- start "about" -->
<div class="about"  fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex="95"  *ngIf="hideAbout" style=" margin-top: 30px;">

    <form  [formGroup]="myForm" (ngSubmit)="sendForm()"  fxLayout="row wrap" fxFlex="95"  style=" margin-top: 10px;" >  
    
    <mat-form-field appearance="outline" fxFlex="100" >
        <textarea matInput 
        rows="7" 
         formControlName="about" 
        required 
        >   
        </textarea>
      
    </mat-form-field> 
    
    <div fxFlex="100" fxLayoutAlign="end center"  style=" margin-bottom: 10px;" >
        <button class="btnSave" mat-button type="submit"  >Guardar</button>
    </div>
    </form>

    <div  fxLayout="column wrap"   *ngFor="let about of arrAbout" style="margin-top:20px;padding: 10px;" >

     
         <p>{{about.about}}</p> <br>
     
   

        
    </div>

    <!-- <div fxFlex="100" fxLayoutAlign="start start" style=" margin-top: 30px; margin-bottom: 20px; padding: 5px;" >
        <button class="btnSave" mat-button type="submit" (click)="getAbout()" >Publicar </button>
    </div> -->
    
</div>
<!-- end about -->

    
 <!-- start container "life" & "portfolio" -->
<div fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="90" fxLayoutGap="7" (click)="openDialog()" style="height: 220px; margin-top: 30px;">
           
            <!-- start life         -->
                <div class="life" fxFlex="40"  fxLayoutAlign="center">
                    <div fxFlex="70" class="resumeImg"></div>

                </div>
            <!-- end life     -->

            <!-- start portfolio  -->
                <div class="portfolio" fxFlex="58" >
                    <div fxFlex="100" class="portfolioImg"></div>
                </div>
            <!-- end portfolio -->
    
    
</div>
<!-- end container "life" & "portfolio" -->


<!-- start experience -->
<div class="experience" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:40px; margin-top: 30px;">
    <div>
    <mat-label style="margin-left: 20px; font-size: 1.2vw; color: rgb(139, 139, 139);">  Experiencia</mat-label>
    </div>
    <div>
        <img src="assets/mas.svg" alt="" fxLayoutAlign="center center" style="font-size: 2vw; margin-right: 10px; cursor: pointer; " (click)="openDialogExperience()">
    </div>
</div>
<!-- end experience -->

<!-- start experience -->
<div    fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style=" margin-top: 30px;">
    
    <div fxFlex="100" fxLayoutAlign="start start" style=" margin-top: 30px;" >
        <button class="btnSave" mat-button type="submit" (click)="getExperience()" >Publicar Experiencia</button>
    </div>


 <!-- start-card-experience -->
    <div  class="card"  fxFlex="48" *ngFor="let exp of arrExperience"   style="cursor: pointer; padding: 10px;">
    
      <div fxLayout="row" fxLayoutAlign=" center" fxFlex="30">
    
              <div  fxLayoutAlign="center center">
                  <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg">   			
              </div>
      </div>
    
       <div  fxLayout="column" fxFlex="100"  >
    
          <div class="text" fxLayout="row"  fxLayoutAlign="space-between start" fxFlex="100">
    
                  <div fxFlex="50" style="">
                    <mat-label style="font-size: 1vw;"> <b>{{exp.jobTitle}}</b> </mat-label> <br>
                    <mat-label></mat-label> 
                    <mat-label>{{exp.companyName | uppercase}}</mat-label> 
                      
                  </div>
                  
          
            <div fxFlex="60" fxLayoutAlign="end start" >
            
                <mat-icon aria-hidden="false" class="material-icons-outlined">edit</mat-icon>

                <mat-icon aria-hidden="false" class="material-icons-outlined">delete</mat-icon>
        
          </div>
           
     </div>
              
      <mat-divider></mat-divider>
      
      <div class="text" fxLayout="row" fxLayoutAlign="end" >
       
        <mat-label>{{exp.description}}</mat-label> 
      </div>  
    
    </div>
    
    </div>
</div>
<!-- end experience -->
        
<div fxFlex="95" class="divider"></div>


<!-- start education -->
<div class="education" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:40px; margin-top: 30px;">
   
    <div>
        <mat-label style="margin-left: 20px; font-size: 1.2vw; color: rgb(139, 139, 139);">  Educacion</mat-label>
        </div>
    <div>
        <img src="assets/mas.svg" alt="" fxLayoutAlign="center center" style="font-size: 2vw; margin-right: 10px; cursor: pointer; " (click)="openDialogEducation()">
    </div>
</div>
<!-- end education-->


<!-- start  education -->
<div    fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style=" margin-top: 30px;">
    
    <div fxFlex="100" fxLayoutAlign="start start" style=" margin-top: 30px;" >
        <button class="btnSave" mat-button type="submit" (click)="getEducation()" >Publicar Educacion</button>
    </div>
    
    <!-- start-card-education -->
    <div  class="card"  fxFlex="48" *ngFor="let edu of arrEducation"   style="cursor: pointer; padding: 10px;">
    
      <div fxLayout="row" fxLayoutAlign=" center" fxFlex="30">
    
              <div  fxLayoutAlign="center center">
                  <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg">   			
              </div>
      </div>
    
       <div  fxLayout="column" fxFlex="70"  >
    
          <div class="text" fxLayout="row"  fxLayoutAlign="space-between start" fxFlex="100">
    
                  <div fxFlex="80" style="">
    
                    <mat-label> <b>{{edu.education | uppercase}}</b> </mat-label> <br>
                    <mat-label>{{edu.degree}}</mat-label> <br>
                    <mat-label>{{edu.school}}</mat-label> <br>
                    <mat-label>{{edu.startDate | date: 'dd/MM/yyyy'}}-{{edu.endDate | date: 'dd/MM/yyyy'}}</mat-label> 

                
    
         
                      
                  </div>
                  
          
                  <div fxFlex="20" fxLayoutAlign="end start" style="">
                  
                        <mat-icon aria-hidden="false" class="material-icons-outlined">edit</mat-icon>
      
                        <mat-icon aria-hidden="false" class="material-icons-outlined">delete</mat-icon>
                
              </div>
           
          </div>
              
      <mat-divider></mat-divider>
      
      <div class="text" fxLayout="row" fxLayoutAlign="end" >
       
          <h4 style="margin-right: 1em;">Bogota - Colombia</h4>
      </div>  
    
    </div>
    
 
    
    </div>
    <!-- end-card-education -->

</div>
<!-- end education -->

<div fxFlex="95" class="divider"></div>


<!-- start container skills -->
    <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="95"  fxLayoutAlign="space-between center" 
    style="margin-top: 30px; margin-bottom: 30px; ">

<!-- start-card-habilidades -->
    <div  class="cardSkill"  fxFlex="32"   routerLink="../../artistas/perfil" 
    style="cursor: pointer; padding: 20px; height: 50vh;">
    
        <div   fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100">
    
            <div fxFlex="100" fxLayoutAlign="start center" style="margin-bottom: 15px;">
    
            <mat-label> <b>Habilidades</b></mat-label> 
    
            </div>
        
            <div fxFlex="95" class="divider"></div>

         <div fxLayout="row wrap" fxLayoutAlign="center"   >
    
            <form   fxLayoutAlign="center" style="margin-top: 15px;">

                <mat-form-field class="example-full-width" appearance="outline" fxFlex="80">
                <mat-label> &nbsp; Buscar </mat-label>
                <!-- <span matPrefix>+1 &nbsp;</span> -->
                <input type="text" matInput>
                <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>

            <form [formGroup]="myFormSkill" fxLayout="row wrap" fxLayoutAlign="center" >

                <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="programming ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('Programación')" >   Programación
                    &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="programming ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
             
        
                <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="cloudComputing ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('Cloud Computing')"> Cloud Computing
                    &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="cloudComputing ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
                
                <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="blockchain ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('Blockchain')"> Blockchain
                    &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="blockchain ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
        
                
                <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" (click)="sendFormSkill()"> Enviar</button> 
               </form>

   
        </div>
     </div>
   </div>
<!-- end-card-habilidades -->
    
<!-- start-card-software -->
<div  class="cardSkill"  fxFlex="32"   routerLink="../../artistas/perfil" style="cursor: pointer; padding: 20px; height: 50vh;">
    
    <div   fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100">

        <div fxFlex="100" fxLayoutAlign="start center" style="margin-bottom: 15px;">

        <mat-label> <b>Software</b></mat-label> 

        </div>
    
        <div fxFlex="95" class="divider"></div>

     <div fxLayout="row wrap" fxLayoutAlign="center"   >

        <form   fxLayoutAlign="center" style="margin-top: 15px;">

            <mat-form-field class="example-full-width" appearance="outline" fxFlex="80">
            <mat-label> &nbsp; Buscar </mat-label>
            <!-- <span matPrefix>+1 &nbsp;</span> -->
            <input type="text" matInput>
            <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
        
        <form [formGroup]="myFormSoftware" fxLayout="row wrap" fxLayoutAlign="center" >

            <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="illustrator ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('Adobe Illustrator')" >  Adobe Illustrator
                &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="illustrator ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
         
    
            <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="sketchup ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('Google Sketchup')"> Google Sketchup
                &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="sketchup ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
            
            <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="gimp ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('Gimp')"> Gimp
                &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="gimp ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
    
            
            <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" (click)="sendFormSoftware()"> Enviar</button> 
           </form>


    </div>
 </div>
</div>
<!-- end-card-software -->

<!-- start-card-languajes -->
<div  class="cardSkill"  fxFlex="32"   routerLink="../../artistas/perfil" style="cursor: pointer; padding: 20px; height: 50vh;">
    
    <div   fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100">

        <div fxFlex="100" fxLayoutAlign="start center" style="margin-bottom: 15px;">

        <mat-label> <b>Idiomas</b></mat-label> 

        </div>
    
        <div fxFlex="95" class="divider"></div>

     <div fxLayout="row wrap" fxLayoutAlign="center"   >

        <form   fxLayoutAlign="center" style="margin-top: 15px;">

            <mat-form-field class="example-full-width" appearance="outline" fxFlex="80">
            <mat-label> &nbsp; Buscar </mat-label>
            <!-- <span matPrefix>+1 &nbsp;</span> -->
            <input type="text" matInput>
            <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
<!-- 
        <button mat-raised-button fxFlex="25" (click)="selectSkill('triD')" [ngStyle]="triD ? {'backgroundColor': 'black','color':'white'}  : {}" >Animacion 3D 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="triD ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> -->
    
          
        <form [formGroup]="myFormLanguaje" fxLayout="row wrap" fxLayoutAlign="center" >

        <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="spanish ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('español')" > Español
            &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="spanish ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
     

        <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="english ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('ingles')"> Ingles
            &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="english ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 
        
        <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" [ngStyle]="italian ? {'backgroundColor': 'black','color':'white'}  : {}" (click)="selectSkill('italiano')"> Italiano
            &nbsp;  &nbsp;<mat-icon style="color: white;" [ngStyle]="italian ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> 

        
        <button mat-stroked-button fxFlex="80" style="margin-top: 10px;" (click)="sendFormLanguaje()"> Enviar</button> 
       </form>

    </div>
 </div>
</div>
<!-- end-card-languajes -->


    </div>
<!-- end container skills -->


</div>
<!-- end container (border) profile -->


</div>
<!-- end profile -->



<!-- start similar Artits (right page) -->
<div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="start start" >
    
    <div fxFlex="70"  style=" margin-top: 35px; " >
    <button mat-button  fxFlex="100" style="background-color: #b0bcec;"> <mat-label fxFlex="60"  fxLayoutAlign="start">Artistas Similares</mat-label> <mat-label fxFlex="40"  fxLayoutAlign="end" >Ver mas</mat-label> </button>
    </div>


<!-- start card         -->
<div  class="cardSimilar" *ngFor="let heroe of heroes" fxFlex="70" style=" margin-top: 35px; "  >

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="25" >

                <div fxFlex="100"  >
                    <img  src="assets/carwash3.png" class="imgCard" style="margin-left: 10px;">   			
                </div>
                
    
        </div>

        <div  fxLayout="column" fxFlex="75">

        

            <div  fxLayout="row wrap"  fxLayoutAlign="space-between space-between" fxFlex="100" >

                    <div fxFlex="80" style=" padding: 10px;">

                        <mat-label style="font-size: 1vw;"> <b> Jeison Mayorga</b></mat-label> <br>
                        <mat-label> <b>ANIMADOR 2D Y 3D</b> </mat-label> <br>
                        <mat-label>{{heroe.nombre}}</mat-label> <br>
                        <mat-label>Bogota - Colombia</mat-label> <br>
                

                        
                    </div>

            <mat-icon  mat-button  style="cursor: pointer; margin-right: 10px;">close</mat-icon>
                    
                                    
                </div>
            
    </div>



    </div>
    <!-- end card -->


</div>
<!-- end similar Artits -->


</div>