


<div class="container" fxLayoutAlign="center" style="border: 6px solid yellow;">


<!-- start profile -->
<div fxFlex="70"  fxLayoutAlign="center" >
    
<!-- start container (border) profile -->
    <div class="whiteBorder" fxFlex="90" fxLayout="row wrap" fxLayoutAlign="center center"> 
      
    
<!-- start header profile -->
<div fxFlex="100" style="height: 300px;">




    <div  class="card" *ngFor="let heroe of heroes"   routerLink="../../artistas/perfil" >
  
      <div fxLayout="row wrap" style="height: 80%;">

  

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="25" >

                 <div fxFlex="80"  >
                     <img  src="assets/carwash3.png">   			
                 </div>
                 
     
         </div>

          <div  fxLayout="column" fxFlex="75">

            <div>

             <div class="text" fxLayout="row wrap"  fxLayoutAlign="space-between space-between" fxFlex="100" >

                     <div fxFlex="40" style="margin-top: 30px; padding: 20px;">

                        <mat-label style="font-size: 2vw;"> <b> Jeison Mayorga</b></mat-label> <br>
                            <mat-label> <b>ANIMADOR 2D Y 3D</b> </mat-label> <br>
                         <mat-label>{{heroe.nombre}}</mat-label> <br>
                         <mat-label>Bogota - Colombia</mat-label> <br>
                         <mat-label>2 años de Experiencia</mat-label> <br>
                         <mat-label>Ingles - Español</mat-label>

                         
                     </div>
                     
             
                     <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="end space-between" style="margin-top: 30px;">
                       
                        <div fxFlex="100" fxLayoutAlign="end end" >
                          <button  mat-button  appearance="outline" type="submit" class="follow"style="color: black"
                           >Seguir</button>
         
                           <mat-icon class="bookmark" >bookmark_border</mat-icon>
                           <mat-icon class="bookmark" >more_vert</mat-icon>       
                       
                        </div>

                        <div style="margin-right: 1em"> <mat-label style="font-size: 1.8vw;"> 43  </mat-label>Seguidores</div>

                        <div  fxLayoutAlign="end center" style="padding: 10px;">
                            
                            <div fxLayoutAlign="center center"  style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon"  >bookmark_border</mat-icon> </div>
                            <div fxLayoutAlign="center center" style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon" >more_vert</mat-icon> </div>
                            <div fxLayoutAlign="center center"  style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon"  >person</mat-icon> </div>
                            <div fxLayoutAlign="center center" style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon" >groups</mat-icon> </div>

                        </div>

                     </div>           
                 </div>
              
               
    
      </div>
      <!-- end brown -->
    
    </div>
  </div>
  
  <div class="btnHeader" fxLayout="row wrap">
   
    <div fxFlex="30" fxFlexOffset="8" fxLayoutAlign="none end" >
        <button  mat-button  appearance="outline" >Industrias</button>
    </div>
    <div fxFlex="62" fxLayoutAlign="start end" fxLayoutGap="10">

        <button  mat-button  appearance="outline" >Diseño Grafico</button>
        <button  mat-button  appearance="outline" >Animación</button>
        <button  mat-button  appearance="outline" >Fotografía</button>
    </div>


  </div>

    </div>
    <!-- end card -->


        
        </div>
        <!-- end header profile -->
      
        
        <!-- start "about" -->
        <div class="about" fxFlex="95"fxlayoutAlign="center center"   style="padding: 30px; margin-top: 50px;" >

            <mat-label> Acerca de </mat-label>
            
            <br>
            <mat-divider></mat-divider>
            <br>
            
            <mat-label>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem tempore dicta laudantium harum ducimus distinctio consequuntur esse recusandae nesciunt accusamus perspiciatis eum exercitationem, possimus expedita cumque deserunt iure necessitatibus non.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque aliquam error eligendi! Magni id aut est illo eveniet, necessitatibus ipsum consectetur, voluptates exercitationem tempora laboriosam fuga dignissimos molestiae qui!
            </mat-label>

        </div>
        <!-- end about -->

    
        <!-- start container "life" & "portfolio" -->
        <div fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="90" fxLayoutGap="7" (click)="openDialog()" style="height: 220px; margin-top: 30px;">
            
            <!-- start life         -->
                <div class="life" fxFlex="40"  fxLayoutAlign="center">
                    <div fxFlex="70" class="resumeImg"></div>

                </div>
            <!-- end life     -->

            <!-- start portfolio  -->
                <div class="portfolio" fxFlex="58" >
                    <div fxFlex="100" class="portfolioImg"></div>
                </div>
            <!-- end portfolio -->
    
    
        </div>
        <!-- end container "life" & "portfolio" -->


        <!-- start experience -->
        <div class="experience" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="95"  style="height:40px; margin-top: 30px;">
            <mat-label style="margin-left: 20px;">  Experiencia</mat-label>
        </div>
        <!-- end experience -->
        
        <!-- start experience -->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:500px; margin-top: 30px;">
            
            <div fxFlex="49" style="border: 4px solid #61a7e9; height: 50%; border-radius: 15px;">

            </div>
            <div fxFlex="49" style="border: 4px solid #61a7e9; height: 50%; border-radius: 15px;">

            </div> 
            <div fxFlex="49" style="border: 4px solid #61a7e9; height: 50%; border-radius: 15px;">

            </div>
            <div fxFlex="49" style="border: 4px solid #61a7e9; height: 50%; border-radius: 15px;">

            </div>
            
          


        </div>
        <!-- end experience -->
        
  

        <!-- start education -->
        <div class="experience" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="95"  style="height:40px; margin-top: 30px;">
            <mat-label style="margin-left: 20px;">  Educacion</mat-label>
        </div>
        <!-- end education-->
    
        <!-- start card education -->
        <div fxLayout="row " fxLayoutAlign="center " fxFlex="95"  style="border:4px solid red ;height:200px; margin-top: 30px;">
            <h1>card educacion</h1>
        </div>
        <!-- end card education -->


    <!-- start container skills -->
        <div fxLayout="row wrap " fxLayoutAlign="space-around center " fxFlex="100"  style="border:4px solid yellow ;height:400px; margin-top: 60px;">
        
            <div fxLayoutAlign="center" fxFlex="25"  style="border:4px solid ;height:300px">
                <h1>card habilidades</h1>
            </div>
            <div fxLayoutAlign="center" fxFlex="25"  style="border:4px solid  ;height:300px">
                <h1>card software</h1>
            </div>
            <div fxLayoutAlign="center" fxFlex="25"  style="border:4px solid ;height:300px">
                <h1>card idiomas</h1>
            </div>
        
        </div>
    <!-- end container skills -->


    </div>
    <!-- end container (border) profile -->
   
   
    </div>
    <!-- end profile -->



    <!-- start similar Artits (right page) -->
    <div fxFlex="30" fxLayoutAlign="center center" style="background-color: green;">
        <div style="border:4px solid; height: 800px;" fxFlex="80"></div>

    </div>
    <!-- end similar Artits -->


</div>