


<div class="container" fxLayoutAlign="center">


<!-- start profile -->
<div fxFlex="65"  fxLayoutAlign="center" >
    
<!-- start container (border) profile -->
    <div class="whiteBorder" fxFlex="90" fxLayout="row wrap" fxLayoutAlign="center center"> 
      
    
<!-- start header profile -->
<div fxFlex="100" style="height: 300px;">




    <div  class="card"   >
  
      <div fxLayout="row wrap" style="height: 80%;" (mouseover)="btnPressedOut()">

  

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="25" >

                 <div fxFlex="80"  >
                     <img  src="assets/carwash3.png">   			
                 </div>
                 
     
         </div>

          <div  fxLayout="column" fxFlex="75">

            <div>

    <div class="text" fxLayout="row wrap"  fxLayoutAlign="space-between space-between" fxFlex="100" >

            <div fxFlex="40" style="margin-top: 30px; padding: 20px;">

            <mat-label style="font-size: 2vw;"> <b>{{arrArtist.userName}}</b></mat-label> <br>
            <mat-label> <b>ANIMADOR 2D Y 3D</b> </mat-label> <br>
                <mat-label></mat-label> <br>
                <mat-label>{{arrArtist.city}}-{{arrArtist.state}}</mat-label> <br>
                <mat-label>2 años de Experiencia</mat-label> <br>
                <mat-label>Ingles - Español</mat-label>

                
            </div>
            
    
            <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="end space-between" style="margin-top: 30px;">
            
            <div fxFlex="100" fxLayoutAlign="end end" *ngIf="edit">
                <button  mat-button  appearance="outline" type="submit" class="follow">Seguir</button>

                <mat-icon class="bookmark" >bookmark_border</mat-icon>
                <mat-icon class="bookmark" >more_vert</mat-icon>       
            
            </div>

            <div fxFlex="100" fxLayoutAlign="end end" >
                <button  mat-button  appearance="outline" type="submit" class="follow" (click)="openDialogIndustries()" >Editar</button>

                    <mat-icon class="material-icons-outlined" >share</mat-icon>
                
                
                </div>

            <div style="margin-right: 1em"> <mat-label style="font-size: 1.8vw;"> 43  </mat-label>Seguidores</div>

            <div  fxLayoutAlign="end center" style="padding: 10px;">
                
                <div fxLayoutAlign="center center"  style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon"  >bookmark_border</mat-icon> </div>
                <div fxLayoutAlign="center center" style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon" >more_vert</mat-icon> </div>
                <div fxLayoutAlign="center center"  style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon"  >person</mat-icon> </div>
                <div fxLayoutAlign="center center" style="width: 40px; border-radius: 7px;"> <mat-icon class="material-icon" >groups</mat-icon> </div>

            </div>

            </div>           
        </div>
    
    
    
      </div>
      <!-- end brown -->
    
    </div>
  </div>
  
  <div class="btnHeader" fxLayout="row wrap">
   
    <div fxFlex="30" fxFlexOffset="8" fxLayoutAlign="none end" >
        <button  mat-button  appearance="outline" >Industrias</button>
    </div>
    <div fxFlex="62" fxLayoutAlign="start end" fxLayoutGap="10">

        <button  mat-button  appearance="outline" (mouseover)="btnPressed('graphic')"#graphic >Diseño Grafico</button>
        <button  mat-button  appearance="outline"  (mouseover)="btnPressed('animation')" #animation >Animación</button>
        <button  mat-button  appearance="outline" (mouseover)="btnPressed('photo')" #photo>Fotografía</button>
    </div>


  </div>

    </div>
    <!-- end card -->


        
</div>
<!-- end header profile -->
      

<!-- start conditional "Diseño grafico" -->
    
<div class="conditionalHeader"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center"
     *ngIf="graphic" (mouseleave)="btnPressedOut()" > 
   
  
        <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10" >
    
            <button  mat-button  appearance="outline" >Branding</button>
            <button  mat-button  appearance="outline" >Editorial</button>
            <button  mat-button  appearance="outline" >Empaques</button>
            <button  mat-button  appearance="outline" >Empaques</button>
            
        </div>
    
    
</div>
<!-- end conditional "diseño grafico" -->


<!-- start conditional "animacion" -->
<div class="conditionalHeader"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center"
*ngIf="animation" (mouseleave)="btnPressedOut()" > 

   <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10" >

       <button  mat-button  appearance="outline" >animacion</button>
       <button  mat-button  appearance="outline" >animacion</button>
       <button  mat-button  appearance="outline" >animacion</button>
       <button  mat-button  appearance="outline" >animacion</button>
       
   </div>


 </div>
<!-- end conditional "animacion" -->

<!-- start conditional "animacion" -->
<div class="conditionalHeader"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center"
*ngIf="photo" (mouseleave)="btnPressedOut()" > 

   <div  fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10" >

       <button  mat-button  appearance="outline" >photo</button>
       <button  mat-button  appearance="outline" >photo</button>
       <button  mat-button  appearance="outline" >photo</button>
       <button  mat-button  appearance="outline" >PHOTO</button>
       
   </div>


 </div>
<!-- end conditional "animacion" -->


<!-- start "about" -->
<div class="about" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:40px; margin-top: 30px;" >

    <div>
        <mat-label style="margin-left: 20px; font-size: 1.2vw;">  Acerca de</mat-label>
    </div>
    <div>
        <mat-icon class="material-icons-outlined" aria-hidden="false" fxLayoutAlign="center center" style="font-size: 2vw; margin-right: 10px; cursor: pointer; " >edit</mat-icon>
    </div>

</div>
<!-- end about -->

<!-- start "about" -->
<div class="about"  fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="95"  style=" margin-top: 30px;">

    <form  [formGroup]="myForm" (ngSubmit)="sendForm()" id="form" fxLayout="row wrap" fxFlex="100"  >  
    
    <mat-form-field appearance="outline" fxFlex="100" >
        <textarea matInput 
        rows="7" 
         formControlName="about" 
        required 
        >   
        </textarea>
      
    </mat-form-field> 
    
    <div fxFlex="100" fxLayoutAlign="end center" >
        <button class="btnSave" mat-button type="submit" >Guardar</button>
    </div>
    </form>
    <div fxFlex="100" *ngFor="let about of arrAbout" >

    <mat-label>{{about.about}}</mat-label>

        
    </div>

    <div fxFlex="100" fxLayoutAlign="start start" style=" margin-top: 30px; margin-bottom: 20px;" >
        <button class="btnSave" mat-button type="submit" (click)="getAbout()" >Publicar </button>
    </div>
    
</div>
<!-- end about -->

    
 <!-- start container "life" & "portfolio" -->
<div fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="90" fxLayoutGap="7" (click)="openDialog()" style="height: 220px; margin-top: 30px;">
           
            <!-- start life         -->
                <div class="life" fxFlex="40"  fxLayoutAlign="center">
                    <div fxFlex="70" class="resumeImg"></div>

                </div>
            <!-- end life     -->

            <!-- start portfolio  -->
                <div class="portfolio" fxFlex="58" >
                    <div fxFlex="100" class="portfolioImg"></div>
                </div>
            <!-- end portfolio -->
    
    
</div>
<!-- end container "life" & "portfolio" -->


<!-- start experience -->
<div class="experience" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:40px; margin-top: 30px;">
    <div>
    <mat-label style="margin-left: 20px; font-size: 1.2vw;">  Experiencia</mat-label>
    </div>
    <div>
    <mat-icon class="material-icons-outlined" aria-hidden="false" fxLayoutAlign="center center" style="font-size: 2vw; margin-right: 10px; cursor: pointer; " (click)="openDialogExperience()">add</mat-icon>
    </div>
</div>
<!-- end experience -->

<!-- start experience -->
<div    fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style=" margin-top: 30px;">
    
    <div fxFlex="100" fxLayoutAlign="start start" style=" margin-top: 30px;" >
        <button class="btnSave" mat-button type="submit" (click)="getExperience()" >Publicar Experiencia</button>
    </div>


 <!-- start-card-experience -->
    <div  class="card"  fxFlex="48" *ngFor="let exp of arrExperience"   style="cursor: pointer; padding: 10px;">
    
      <div fxLayout="row" fxLayoutAlign=" center" fxFlex="30">
    
              <div  fxLayoutAlign="center center">
                  <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg">   			
              </div>
      </div>
    
       <div  fxLayout="column" fxFlex="100"  >
    
          <div class="text" fxLayout="row"  fxLayoutAlign="space-between start" fxFlex="100">
    
                  <div fxFlex="50" style="">
                    <mat-label style="font-size: 1vw;"> <b>{{exp.jobTitle}}</b> </mat-label> <br>
                    <mat-label></mat-label> 
                    <mat-label>{{exp.companyName | uppercase}}</mat-label> 
                      
                  </div>
                  
          
            <div fxFlex="60" fxLayoutAlign="end start" >
            
                <mat-icon aria-hidden="false" class="material-icons-outlined">edit</mat-icon>

                <mat-icon aria-hidden="false" class="material-icons-outlined">delete</mat-icon>
        
          </div>
           
     </div>
              
      <mat-divider></mat-divider>
      
      <div class="text" fxLayout="row" fxLayoutAlign="end" >
       
        <mat-label>{{exp.description}}</mat-label> 
      </div>  
    
    </div>
    
    </div>
</div>
<!-- end experience -->
        
<div fxFlex="95" class="divider"></div>


<!-- start education -->
<div class="education" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="height:40px; margin-top: 30px;">
   
    <div>
        <mat-label style="margin-left: 20px; font-size: 1.2vw;">  Educacion</mat-label>
        </div>
    <div>
        <mat-icon class="material-icons-outlined" aria-hidden="false" fxLayoutAlign="center center" style="font-size: 2vw; margin-right: 10px; cursor: pointer; " (click)="openDialogEducation()">add</mat-icon>
    </div>
</div>
<!-- end education-->


<!-- start  education -->
<div    fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style=" margin-top: 30px;">
    
    <div fxFlex="100" fxLayoutAlign="start start" style=" margin-top: 30px;" >
        <button class="btnSave" mat-button type="submit" (click)="getEducation()" >Publicar Educacion</button>
    </div>
    
    <!-- start-card-education -->
    <div  class="card"  fxFlex="48" *ngFor="let edu of arrEducation"   style="cursor: pointer; padding: 10px;">
    
      <div fxLayout="row" fxLayoutAlign=" center" fxFlex="30">
    
              <div  fxLayoutAlign="center center">
                  <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg">   			
              </div>
      </div>
    
       <div  fxLayout="column" fxFlex="70"  >
    
          <div class="text" fxLayout="row"  fxLayoutAlign="space-between start" fxFlex="100">
    
                  <div fxFlex="80" style="">
    
                    <mat-label> <b>{{edu.education | uppercase}}</b> </mat-label> <br>
                    <mat-label>{{edu.degree}}</mat-label> <br>
                    <mat-label>{{edu.school}}</mat-label> <br>
                    <mat-label>{{edu.startDate | date: 'dd/MM/yyyy'}}-{{edu.endDate | date: 'dd/MM/yyyy'}}</mat-label> 

                
    
         
                      
                  </div>
                  
          
                  <div fxFlex="20" fxLayoutAlign="end start" style=";">
                  
                        <mat-icon aria-hidden="false" class="material-icons-outlined">edit</mat-icon>
      
                        <mat-icon aria-hidden="false" class="material-icons-outlined">delete</mat-icon>
                
              </div>
           
          </div>
              
      <mat-divider></mat-divider>
      
      <div class="text" fxLayout="row" fxLayoutAlign="end" >
       
          <h4 style="margin-right: 1em;">Bogota - Colombia</h4>
      </div>  
    
    </div>
    
 
    
    </div>
    <!-- end-card-education -->

</div>
<!-- end education -->

<div fxFlex="95" class="divider"></div>


<!-- start container skills -->
    <div fxFlex="95">
    <app-card-skills></app-card-skills>
    
    </div>
<!-- end container skills -->


</div>
<!-- end container (border) profile -->


</div>
<!-- end profile -->



<!-- start similar Artits (right page) -->
<div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start start" >
    
    <div fxFlex="70"  style=" margin-top: 35px; " >
    <button mat-button  fxFlex="100" style="background-color: #b0bcec;"> <mat-label fxFlex="60"  fxLayoutAlign="start">Artistas Similares</mat-label> <mat-label fxFlex="40"  fxLayoutAlign="end" >Ver mas</mat-label> </button>
    </div>


<!-- start card         -->
<div  class="cardSimilar" *ngFor="let heroe of heroes" fxFlex="70" style=" margin-top: 35px; "  >

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="25" >

                <div fxFlex="100"  >
                    <img  src="assets/carwash3.png" style="margin-left: 10px;">   			
                </div>
                
    
        </div>

        <div  fxLayout="column" fxFlex="75">

        

            <div  fxLayout="row wrap"  fxLayoutAlign="space-between space-between" fxFlex="100" >

                    <div fxFlex="80" style=" padding: 10px;">

                        <mat-label style="font-size: 1vw;"> <b> Jeison Mayorga</b></mat-label> <br>
                        <mat-label> <b>ANIMADOR 2D Y 3D</b> </mat-label> <br>
                        <mat-label>{{heroe.nombre}}</mat-label> <br>
                        <mat-label>Bogota - Colombia</mat-label> <br>
                

                        
                    </div>

            <mat-icon  mat-button  style="cursor: pointer; margin-right: 10px;">close</mat-icon>
                    
                                    
                </div>
            
    </div>



    </div>
    <!-- end card -->


</div>
<!-- end similar Artits -->


</div>