


<div class="mat-dialog-container" style="border: 5px solid #61a7e9;" >


<br>
  <h1 mat-dialog-title style="">Mis Industrias </h1>

<mat-divider></mat-divider>  

<mat-dialog-content fxLayout="row wrap" fxLayoutAlign="center">


<div fxFlex="100" style="margin-top: 20px;">
    <mat-label style="opacity: 0.7;">¿A que tipo de industria perteneces?</mat-label>
</div> 




    <!-- start form -->
  <div   fxLayout="row wrap" fxFlex="100" style="" >
  
    <form  [formGroup]="myForm"  id="form" fxFlex="100" fxLayoutAlign="space-between center" fxLayout="row wrap" style="" >     

     
    <div class="whiteBorder" fxFlex="100">
    
        <div fxFlex="50" fxFlexOffset="3" style="">    
                <mat-form-field style=""  >
                <mat-label>Selecciona tu industria</mat-label>
                    <mat-select required formControlName="type">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let ind of industries" [value]="ind">{{ind}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex="50" fxLayoutAlign="end" style="margin-right: 20px; margin-top: 17px;">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
            </div>

     </div>

     <!-- start card industry select  -->
     <div class="whiteBorderSelected" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">

        <div fxFlex="100" fxLayout="row wrap" style="">
            <div fxFlex="50"  style="margin-top: 30px; ">
                <mat-label fxFlexOffset="3">Animacion</mat-label>
            </div> 
            
            <div fxFlex="47" fxLayoutAlign="end" style=" margin-top: 20px;">

                <button mat-icon-button [matMenuTriggerFor]="msg">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #msg="matMenu" yPosition="below" fxLayoutAlign="center center" >
                    <button mat-raised-button class="msg">Eliminar</button>
                  </mat-menu>
            </div>
        </div>    

        <div fxFlex="97" class="divider"></div>

        <div fxFlex="100">
            <mat-label style="margin-left: 20px; opacity: 0.7;">Selecciona tus campos con un solo Click</mat-label>
        </div>

        <!-- start container skills -->
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="space-around space-between" style="margin-top: 30px; height: 100px;">

       
        <button mat-raised-button fxFlex="25" (click)="selectSkill('editorial')" [ngStyle]="editorial && closeEditorial ? {'backgroundColor': 'black','color':'white'}  : {}" >Diseño editorial 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="editorial ? {'display':'inline'}:{'display':'none'} " (click)="closeSkill('editorial')"*ngIf="value" (click)="value=''" >close</mat-icon> </button>
       

        <button mat-raised-button fxFlex="25" (click)="selectSkill('ux')" [ngStyle]="ux ? {'backgroundColor': 'black','color':'white'}  : {'backgroundColor': 'success'}" >Diseño UX/UI</button>

        <button mat-raised-button fxFlex="25" (click)="selectSkill('branding')" [ngStyle]="branding ? {'backgroundColor': 'black','color':'white'}  : {'backgroundColor': 'success'}" >Branding</button>
    



        </div>
        <!-- end container skills -->
    </div>
 

     <!-- end card industry select -->

     <div fxFlex="100" fxLayoutAlign="center">
         
        <button mat-button type="submit" fxFlex="70"(click)="sendForm()" 
        style="background-color: black; color: white; border-radius: 30px;font-size: 1.2vw"> Guardar</button>

     </div>

    </form>


</div>
<!-- end form -->






</mat-dialog-content>
  
  
  </div> 


