


<div class="mat-dialog-container" >



  <h1  style="">Mis Industrias </h1>

<mat-divider></mat-divider>  

<div fxLayout="row wrap" fxLayoutAlign="center start " fXFlex="98" >


<div fxFlex="100" style="margin-top: 20px;">
    <mat-label style="opacity: 0.7;">¿A que tipo de industria perteneces?</mat-label>
</div> 




    <!-- start form -->
  <mat-dialog-content   fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between space-between" style="height: 450px;">
  
    <form  [formGroup]="myForm"  fxFlex="100" fxLayoutAlign="space-between " fxLayout="row wrap"  >     

     
    <div class="whiteBorder" fxFlex="100">
    
        <div fxFlex="50" fxFlexOffset="3" style="">    
                <mat-form-field   >
                <mat-label>Selecciona tu industria</mat-label>
                    <mat-select required formControlName="type" (selectionChange)="selectIndustry($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let ind of industries" [value]="ind">{{ind}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex="50" fxLayoutAlign="end" style="margin-right: 20px; margin-top: 17px;">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
            </div>

     </div>

     <!-- start white frame -->
     <!-- <div class="whiteBorderSelected" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="emptyWhiteFrame"></div> -->
     <!-- end white frame -->



     <!-- start card industry ANIMATION select  -->
     <div class="whiteBorderSelected" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="animation" >

        <div fxFlex="100" fxLayout="row wrap" style="">
            <div fxFlex="50"  style="margin-top: 30px; ">
                <mat-label fxFlexOffset="3">Animacion</mat-label>
            </div> 
            
            <div fxFlex="47" fxLayoutAlign="end" style=" margin-top: 20px;">

                <button mat-icon-button [matMenuTriggerFor]="msg">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #msg="matMenu" yPosition="below" fxLayoutAlign="center center" >
                    <button mat-raised-button class="msg" (click)="closeSkill('animation')" >Eliminar</button>
                  </mat-menu>
            </div>
        </div>    

        <div fxFlex="97" class="divider"></div>

        <div fxFlex="100">
            <mat-label style="margin-left: 20px; opacity: 0.7;">Selecciona tus campos con un solo Click</mat-label>
        </div>

        <!-- start container skills -->
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="space-around space-between" style="margin-top: 30px; height: 100px;">

       
        <button mat-raised-button fxFlex="25" (click)="selectSkill('triD')" [ngStyle]="triD ? {'backgroundColor': 'black','color':'white'}  : {}" >Animacion 3D 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="triD ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
       

        <button mat-raised-button fxFlex="25" (click)="selectSkill('modeling')" [ngStyle]="modeling ? {'backgroundColor': 'black','color':'white'}  : {}" >Modelado 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="modeling ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>

        <button mat-raised-button fxFlex="25" (click)="selectSkill('print3D')" [ngStyle]="print3D ? {'backgroundColor': 'black','color':'white'}  : {}" >Impresion 3D 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="print3D ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>

        </div>
        <!-- end container skills -->
    </div>
     <!-- end card industry ANIMATION select -->

        <!-- start card industry DESIGN select  -->
    <div class="whiteBorderSelected" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="design" >

        <div fxFlex="100" fxLayout="row wrap" style="">
            <div fxFlex="50"  style="margin-top: 30px; ">
                <mat-label fxFlexOffset="3">Diseño</mat-label>
            </div> 
            
            <div fxFlex="47" fxLayoutAlign="end" style=" margin-top: 20px;">

                <button mat-icon-button [matMenuTriggerFor]="msg">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #msg="matMenu" yPosition="below" fxLayoutAlign="center center" >
                    <button mat-raised-button class="msg" (click)="closeSkill('design')" >Eliminar</button>
                    </mat-menu>
            </div>
        </div>    

        <div fxFlex="97" class="divider"></div>

        <div fxFlex="100">
            <mat-label style="margin-left: 20px; opacity: 0.7;">Selecciona tus campos con un solo Click</mat-label>
        </div>

        <!-- start container skills -->
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="space-around space-between" style="margin-top: 30px; height: 100px;">

        
        <button mat-raised-button fxFlex="25" (click)="selectSkill('editorial')" [ngStyle]="editorial ? {'backgroundColor': 'black','color':'white'}  : {}" >Diseño editorial 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="editorial ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
        

        <button mat-raised-button fxFlex="25" (click)="selectSkill('ux')" [ngStyle]="ux ? {'backgroundColor': 'black','color':'white'}  : {}" >Diseño UX/UI 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="ux ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>

        <button mat-raised-button fxFlex="25" (click)="selectSkill('branding')" [ngStyle]="branding ? {'backgroundColor': 'black','color':'white'}  : {}" >Branding 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="branding ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>

        </div>
        <!-- end container skills -->
    </div>
        <!-- end card industry DESIGN select -->

    <!-- start card industry DESIGN select  -->
    <div class="whiteBorderSelected" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="photography" >

        <div fxFlex="100" fxLayout="row wrap" style="">
            <div fxFlex="50"  style="margin-top: 30px; ">
                <mat-label fxFlexOffset="3">Fotografía</mat-label>
            </div> 
            
            <div fxFlex="47" fxLayoutAlign="end" style=" margin-top: 20px;">

                <button mat-icon-button [matMenuTriggerFor]="msg">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #msg="matMenu" yPosition="below" fxLayoutAlign="center center" >
                    <button mat-raised-button class="msg" (click)="closeSkill('photo')" >Eliminar</button>
                    </mat-menu>
            </div>
        </div>    

        <div fxFlex="97" class="divider"></div>

        <div fxFlex="100">
            <mat-label style="margin-left: 20px; opacity: 0.7;">Selecciona tus campos con un solo Click</mat-label>
        </div>

        <!-- start container skills -->
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="space-around space-between" style="margin-top: 30px; height: 100px;">

        
        <button mat-raised-button fxFlex="25" (click)="selectSkill('publicity')" [ngStyle]="publicity ? {'backgroundColor': 'black','color':'white'}  : {}" >Fotografia Publicitaria 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="publicity ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
        

        <button mat-raised-button fxFlex="25" (click)="selectSkill('portrait')" [ngStyle]="portrait ? {'backgroundColor': 'black','color':'white'}  : {}" >Retratos 
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="portrait ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>

        <button mat-raised-button fxFlex="25" (click)="selectSkill('landscape')" [ngStyle]="landscape  ? {'backgroundColor': 'black','color':'white'}  : {}" >Paisajismo
            &nbsp;
        <mat-icon style="color: white;" [ngStyle]="landscape  ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>

        </div>
        <!-- end container skills -->
    </div>
        <!-- end card industry DESIGN select -->    


    </form>


  
  </mat-dialog-content>
<!-- end form -->




<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center" >
         
    <button mat-button type="submit" fxFlex="95"(click)="sendForm()" class="buttonGroup" > Guardar</button>

 </div>



</div>
  
  
  </div> 


