


  <div class="drop-zone">
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
    <input type="file" name="myFile" class="drop-zone__input">
  </div>


  <!-- <div class="drop-zone">
    <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()" >
    </div>

    <div >
    <br>
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
      <input type="file" class="drop-zone__input"  accept="image/*"
      (change)="showPreview($event)" #fileUploader
     >     
    </div>

    {{imgTemplate || "Sin archivos."}}

    <button mat-mini-fab color="primary" class="upload-btn"
    (click)="fileUploader.click()">
     <mat-icon>attach_file</mat-icon>          
    </button> -->

    <!-- <div class="progress" *ngIf="uploadProgress" >

      <mat-progress-bar class="progress-bar" mode="determinate"
                   [value]="uploadProgress" *ngIf="uploadProgress">
      
      </mat-progress-bar>
      
      
      </div> -->














<!-- 


<div  class="backPage" fxLayoutAlign="center center">

 

    <div class="container" fxLayout="row rwap" fxLayoutAlign="center space-between" style="padding: 20px;" >
 
        <div  fxFlex="90"  fxLayoutAlign="end start">
            <mat-icon routerLink="/home" style="font-size: 2.2vw; cursor: pointer;">close </mat-icon>
       </div>    
       
  
       <div fxFlex="100" fxLayoutAlign="center center" > 
            <h1><b>¡Tu experiencia ha sido publicada!</b></h1>
       </div>
   
                    
   
   <div fxFlex="100" fxLayoutAlign="center" style="margin-bottom: 50px;" >
   
       <button fxFlex="60" mat-raised-button  appearance="outline" type="submit" style="background-color: black;border-radius: 30px;"><mat-label style="color: blanchedalmond;" routerLink="/home">Cerrar</mat-label></button>
       
       </div> 


                
  </div>

</div>     -->

