

<div  class="backPage" fxLayoutAlign="center center">

 

    <div class="container" fxFlex="30" fxLayout="row rwap" fxLayoutAlign="center space-between" style="padding: 20px;" >
 
        <div  fxFlex="90"  fxLayoutAlign="end start">
            <mat-icon routerLink="/home" style="font-size: 2.2vw; cursor: pointer;">close </mat-icon>
       </div>    
       
  
       <div fxFlex="100" fxLayoutAlign="center center"> 
            <h1 style="font-size: 2vw;"><b>¡Te enviamos un correo!</b></h1>
       </div>
       
       <div fxFlex="100" fxLayoutAlign="center center"> 
            <mat-label style="text-align: center;"> Presiona "reenviar" si no recibes un correo en los próximos 10 minutos</mat-label>
       </div>
                    
   
   <div fxFlex="100" fxLayoutAlign="center" style="margin-bottom: 50px;" >
   
       <button fxFlex="60" mat-raised-button  appearance="outline" type="submit" style="background-color: black;border-radius: 30px;"><mat-label style="color: blanchedalmond;" 
          routerLink="./home">Cerrar</mat-label></button>
       
       </div> 


                
  </div>

</div>    