



<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between center" style="margin-top: 30px; margin-bottom: 30px;" >


    <div  class="card" *ngFor="let heroe of heroes" fxFlex="32"   routerLink="../../artistas/perfil" 
    style="cursor: pointer; padding: 20px;">
    
    

    <div   fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100">

        <div fxFlex="100" fxLayoutAlign="start center">

        <mat-label> <b>{{heroe.skill}}</b></mat-label> 
        <mat-divider></mat-divider>

        </div>
    
     <div style="margin-top: 25px;"  >

        <form  >
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> &nbsp; Buscar </mat-label>
            <!-- <span matPrefix>+1 &nbsp;</span> -->
            <input type="text" matInput>
            <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
        
        <button mat-button style="margin-top: 10px;"> Desarrollo Web</button> 
        <button mat-button style="margin-top: 10px;"> Desarrollo Web</button> 
        <button mat-button style="margin-top: 10px;"> Desarrollo Web</button> 
        <button mat-button style="margin-top: 10px;"> Desarrollo Web</button> 
        <button mat-button style="margin-top: 10px;"> Desarrollo Web</button> 

       
  
      
                
                
    </div>
             
                      
          
           
          </div>
              
    </div>
    
    </div>