<!-- <app-start *ngIf="!disabled"></app-start> -->

    <!-- <div class="page-wrapper" *ngIf="disabled"> -->
      <div class="page-wrapper">

        <div class="sticky-header">
      
        
        </div>
        <div class="content-wrapper">
        
            <div class="content">
       
              <app-dashboard *ngIf="!(router.url === '/auth/login' || router.url === '/auth/registro'|| router.url === '/invitacion' 
              || router.url === '/escuelas/posteo' || router.url === '/escuelas/sugerir')"></app-dashboard>
              <!-- <app-header></app-header>
  
              <app-slide-up *ngIf="!(router.url === '/contact-us')"></app-slide-up> -->
            
          
             <router-outlet> </router-outlet> 
          
           
  
           
            </div>
  
            <div class="footer">
              <app-footer *ngIf="!(router.url === '/login'|| router.url === '/auth/registro' || router.url === '/invitacion'
               || router.url === '/escuelas/posteo' || router.url === '/escuelas/sugerir')"></app-footer>
            </div> 
        </div> 
    </div>
  
  