
img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin-top: 13px;
     
}



.spacer {
 
    flex: 1 1 auto;  //eso le dice al span que cubra el espacio disponible entre los botones
}

.mat-divider{
    border-top-width: 1px;
    display: block;
    // width: 3px;
}

.card{

     border-radius: 13px;
     margin-top: 25px;
     margin-left: 20px;
     background-color: white;
     cursor: pointer;

     box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
}

.card:hover{
    background-color: #B29DD5;
    // background-color: ;
    border: 4px solid white;
    
}

.mat-raised-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
}

.mat-raised-button:active{
    background-color: #B29DD5;
    // background-color: ;
}

.mat-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
}

.separator{
    border: 1px solid rgb(167, 167, 167);
    width: 90%;
}

.mat-form-field{
    font-size: 1em;
}
