

<!-- se muestran cuando se presiona EMPLEOS -->
<div fxLayout="row wrap"   fxLayoutAlign="space-between center"  fxLayoutGap="2px" style="height: 180px;margin-left: 20px; margin-right: 20px; " *ngIf="showJobs">
  
  <button mat-flat-button  style=" cursor:text; "> 
    <mat-label style="font-size: 1.3vw;"> <b >FILTROS</b> </mat-label>       
  </button>
    
   
   <button mat-button [matMenuTriggerFor]="aboveMenu" appearance="outline" >  <b>Categoría</b>  <mat-icon >expand_more</mat-icon></button>
   <mat-menu #aboveMenu="matMenu" >
     <button mat-menu-item>Item 1</button>
     <button mat-menu-item>Item 2</button>
   </mat-menu>
   
   <button mat-button [matMenuTriggerFor]="modo">  <b>Modalidad</b>  <mat-icon >expand_more</mat-icon></button>
   <mat-menu #modo="matMenu" >
     <button mat-menu-item>Virtual</button>
     <button mat-menu-item>Presencial</button>
   </mat-menu>
   
   <button mat-button [matMenuTriggerFor]="salary">  <b>Salario</b>  <mat-icon >expand_more</mat-icon></button>
   <mat-menu #salary="matMenu" >
     <button mat-menu-item>Número</button>
     <button mat-menu-item>Moneda</button>
   </mat-menu>
   
  
   <button mat-button >  <b (click)="picker.open()">Fecha de Inicio</b>
     <input matInput [matDatepicker]="picker" style="width:0px; height: 0px;">
     <mat-datepicker-toggle matSuffix [for]="picker">
     </mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>    
   </button>
  
   
   <button mat-button [matMenuTriggerFor]="expertise"> <b>Experiencia</b> <mat-icon >expand_more</mat-icon></button>
   <mat-menu #expertise="matMenu">
     <button mat-menu-item [matMenuTriggerFor]="min">Min</button>
     <button mat-menu-item [matMenuTriggerFor]="max">Max</button>
   </mat-menu>
   <mat-menu #min="matMenu">
     <button mat-menu-item>1 año</button>
     <button mat-menu-item>5 años</button>
   </mat-menu>
  
   <mat-menu #max="matMenu">
     <button mat-menu-item>5 año</button>
     <button mat-menu-item>10 años</button>
   </mat-menu>
   
  
   <button mat-button [matMenuTriggerFor]="contract"> <b>Contrato</b> <mat-icon >expand_more</mat-icon></button>
   <mat-menu #contract="matMenu">
     <button mat-menu-item >Termino indefinido</button>
     <button mat-menu-item >Prestación de servicios</button>
     <button mat-menu-item >Obra labor</button>
     </mat-menu>
  
  
     <button mat-button  style=" background-color: black;color: whitesmoke; "> 
       <mat-label> <b >Buscar</b> </mat-label>       
     </button>
   
   </div > 
  <!-- EMPLEOS end -->
  
  
  
  <!-- card start -->

<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between center" fxLayoutGap="10px"
style="padding: 20px;" (click)="openDialogCompetition()" >


<div  class="card" *ngFor="let heroe of heroes" fxFlex="49" fxFlex.xs="100"  routerLink="../../eventos/listas" style="cursor: pointer;">


  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30"  >

              <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" fxFlex="100">   			
          

  </div>

   <div  fxLayout="column" fxFlex="70"  >

      <div class="text" fxLayout="row wrap"  style="height: 100%;" >

              <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 1em; line-height: 20px;">

               <p style="font-size: 1.6vw;"> <b>Laguna Fest</b></p> 
               <p style="font-size: 1.2vw;"> CONCURSO DE ANIMACION </p> 
               <p>Limite de inscricion</p>
                  
              </div>
              
      
              <div fxFlex="60" fxLayoutAlign="end start">
              
                   <button  mat-button  appearance="outline" type="submit" class="signIn">Inscribir</button>
  
                    <mat-icon class="bookmark" >bookmark_border</mat-icon>
            
          </div>
       
      </div>
          <div class="separator"></div>
  
  <div class="text" fxLayout="row" fxLayoutAlign="space-between" >
      <!-- <mat-divider [inset]="true"></mat-divider> -->
      <h4 >Colombia - Bogota</h4>
      <h4 style="margin-right: 1em;">20/03/2022</h4>
  </div>  

</div>

</div>
</div>
<!-- card end -->
  