img{
    border-radius: 40px;
    padding: 20px;
}



.spacer {
 
    flex: 1 1 auto;  //eso le dice al span que cubra el espacio disponible entre los botones
}

.mat-divider{
    border-top-width: 1px;
    display: block;
    // width: 3px;
}

.card{

     border: 4px solid #B29DD5;
     border-radius: 20px;
     margin-top: 15px;

     box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);


}

.card:hover {
    background-color:  #B29DD5;
    .signIn{
        background-color: whitesmoke;
        color: black;
    }
    .bookmark{
        color: rgb(216, 216, 216);
    }
    .text{
        color: rgb(82, 82, 82);
    }

}
.bookmark{
    font-size: 3vw;
    margin-right: 0.5em;
    color: rgb(185, 185, 185);
    margin-top: 0;
    margin-top: 0.3em;
}

.signIn{
    background-color: #B29DD5;
    border-radius: 15px;
    line-height: 30px;
    margin-right: 1em;
    margin-top: 1em;

}

.separator{
    border: 1px solid rgb(167, 167, 167);
    margin-bottom: 10px;
  
}

.mat-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
    font-size: 1.2vw;
}


.mat-raised-button:active{
    background-color:#B29DD5;
}

.mat-form-field{
    font-size: 1em;
}


