
.mat-dialog-container{
  // overflow-y: hidden;
  overflow-x: hidden;


  border-radius: 0px 0px 25px 25px;
  -webkit-border-radius: 0px 0px 25px 25px;
  -moz-border-radius: 0px 0px 25px 25px;

  border: 8px solid #b0bcec;
  background: white;

}

.mat-card-image{
    width: 120px;
    border-radius: 100px;
    border: 5px double #b0bcec;
    margin-top: 0px;
}

.spacer {
    color: black;
    flex: 1 1 auto;  //eso le dice al span que cubra el espacio disponible entre los botones
}

.mas{
  border: 1px solid #b0bcec;
  height: 35px; width: 35px; 
  border-radius: 100px;
  cursor: pointer;
}



  mat-form-field.mat-form-field{
      font-size: 0.5vw;
  }

  mat-select{
    font-size: 1vw;
  }

  input{
    font-size: 1.3vw;
  }

  mat-label{
      font-size: 1.3em;
  }

  .mat-raised-button{

    border-radius: 30px;
    background-color:#b0bcec;

}

.mat-button{
  border: 2px solid;
  border-radius: 20px;
  border-color: rgb(211, 211, 211);
  font-size: 1.2vw;
}

.buttonGroup{
     background-color: #b0bcec;
     height: 5em; 
     border-radius: 15px;
     box-shadow: 10px 10px 29px -6px rgba(87,87,87,0.83);
    -webkit-box-shadow: 10px 10px 29px -6px rgba(87,87,87,0.83);
    -moz-box-shadow: 10px 10px 29px -6px rgba(87,87,87,0.83);
    margin-bottom: 25px;

}

//input outline color

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #b0bcec;
  opacity: 1!important;
}


//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
color: #b0bcec!important;
}


// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
color: red!important;
}


// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
color: #b0bcec!important;
}

.divider{
  height: 2px;
  background-color:rgb(209, 209, 209); 

}