
<div class="mat-dialog-container" >

  <div fxLayoutAlign="space-between center">

        <h1 mat-dialog-title style="color: #b0bcec;">Mi Perfil </h1>

        <mat-dialog-actions align="end">
          <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">close</mat-icon>
        </mat-dialog-actions>
</div>

<mat-dialog-content>

<div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="100">


    <form  [formGroup]="myForm" (ngSubmit)="sendFormArtist()" id="form">     

       
        
        <div fxLayoutAlign="center">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </div>
        
        <div fxLayoutAlign="space-between center" >  


        <mat-form-field appearance="outline" fxFlex="49"> 
            <mat-label>Nombre y Apellido*</mat-label>
            <input matInput type="text"  required formControlName="userName">
        </mat-form-field> 
        <!-- <mat-error  *ngIf ="validField ('name')">
          completa este dato
          </mat-error>  -->
             

        <mat-form-field appearance="outline" fxFlex="49">		
            <mat-label >Alias</mat-label>
            <input matInput type="text" required formControlName="alias">
        </mat-form-field> 
        <!-- <mat-error  *ngIf ="validField ('alias')">
            completa este dato / no es un formato de email valido
            </mat-error>  -->
        </div>
        
        <div fxLayoutAlign="center">
        <mat-form-field appearance="outline" fxFlex="100">		
            <mat-label >Titular</mat-label>
            <input matInput type="text" required formControlName="titular">
        </mat-form-field> 
        <!-- <mat-error  *ngIf ="validField ('titular')">
            completa este dato
        </mat-error> 
      </div> -->
      </div>
        
       

        <div fxLayoutAlign="space-between center">

 


    <mat-form-field class="example-full-width" appearance="outline" fxFlex="49" (click)="picker.open()" autocomplete="off">
          <mat-label >Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateBirth" required>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 

          <mat-form-field appearance="outline" fxFlex="24">
            <mat-label>Pais*</mat-label>
            <mat-select required formControlName="city">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="24">
            <mat-label>Ciudad*</mat-label>
            <mat-select required formControlName="state">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
            </mat-select>
          </mat-form-field>
      
        </div>
       
   
        
        <div fxLayoutAlign="space-between center">  

          <mat-form-field appearance="outline" fxFlex="49">		
              <mat-label >Correo</mat-label>
              <input matInput type="email" required formControlName="email">
          </mat-form-field> 
          <!-- <mat-error  *ngIf ="validField ('email')">
            completa este dato / no es un formato de email valido
          </mat-error> 
             -->


     

            <mat-form-field  appearance="outline" fxFlex="49" autocomplete="off">
              <mat-label>Inicio de actividad laboral</mat-label>
              <input matInput [matDatepicker]="dp3" formControlName="jobDate">
              <mat-datepicker-toggle matSuffix [for]="dp3">
                <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
              </mat-datepicker-toggle>
              <mat-datepicker #dp3></mat-datepicker>
            </mat-form-field>  
            
            
          
        </div> 
          
      


    <div fxLayoutAlign="center center"> 

          <mat-form-field appearance="outline" fxFlex="40" >		
            <mat-label >Pagina Web</mat-label>
            <input matInput type="text" required formControlName="website">
        </mat-form-field> 
        <!-- <mat-error  *ngIf ="validField ('web')">
            completa este dato
        </mat-error> 
     </div>  -->
    </div>
     <br>
    <div fxLayoutAlign="center center">
        <mat-label> <b>Redes Sociales</b></mat-label>
        <mat-icon>keyboard_arrow_down</mat-icon>
        <mat-icon>close</mat-icon>
        <mat-icon>cancel</mat-icon>
    </div>

  
    <br>
    <hr>
    <br>

      <div fxLayoutAlign="center center"  >
       
        <button  fxFlex="60" mat-raised-button  appearance="outline" type="submit"  routerLink="../home"     style="background-color: black;border-radius: 30px;"><mat-label style="color: blanchedalmond;">Publicar</mat-label></button>
      </div> 

      </form>
 </div>

</mat-dialog-content>


</div>