
img{
    width: 20%;
    border-radius: 600px;
}

.spacer {
    color: black;
    flex: 1 1 auto;  //eso le dice al span que cubra el espacio disponible entre los botones
}


  .mat-dialog-container {
    border-radius: 40px !important;
    flex:1 1 auto;
  }

  mat-form-field{
      font-size: 0.8em;
  }

  mat-label{
      font-size: 1.3em;
  }