


 <div   style="width:100%; height: 100%; background-color: rgb(53, 53, 53);"> 


    <div  fxLayoutAlign="end center" fxFlex="50" > 


          <div class="container" fxFlex="60" fxLayout="row rwap"  style="padding: 30px; border: 2px solid red;" >
                  
              <div fxLayout="row rwap" fxFlex="100"  fxLayoutAlign="end center">
                    <mat-icon routerLink="/home" style="font-size: 2.2vw; cursor: pointer;">close </mat-icon>
              </div>    
              
              <div  fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top: 0px;" >

                   <div  fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center">
        
                       <p  style="font-size: 1.6vw; text-align: center; word-spacing: 3px; 
                       letter-spacing: 1px; line-height : 30px; "> <b > ¿Estas seguro que quieres cerrar sesion? </b> </p>
                   
                      <p style="font-size: 1vw; margin-top: 15px;">¡Te esperamos pronto!</p>
                   
                    </div>    
          
              <div fxFlex="100" fxLayoutAlign="center center" style="margin-top: 20px;"  >
           
               <button fxFlex="80" mat-raised-button  appearance="outline" type="submit" routerLink="/home" style="background-color: black;border-radius: 30px;"><mat-label style="color: blanchedalmond;">Cerrar sesión</mat-label></button>
               
               </div> 

            </div>
                           
          </div> 

    </div>  

    
      
    
        <div fxFlex="50" fxLayoutAlign="end center">
            <img src="assets/clapLetter.png" alt="">

        </div>
    
    </div>     
    
   



