





<!-- se muestran cuando se presiona EMPLEOS -->
<div fxLayout="row wrap"   fxLayoutAlign="space-evenly center" fxLayoutGap="2px" style="height: 80px;" *ngIf="showJobs">
  
    <button mat-button style="cursor:auto"> <b>FILTROS</b></button>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu" appearance="outline" >  <b>Categoría</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Modalidad</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Salario</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>$</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button> <b>Experiencia</b></button>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Min</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Max</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-raised-button >  <b (click)="picker.open()">Fecha de Inicio</b> 
        
         <input matInput [matDatepicker]="picker" style="width:0px; height: 0px;">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>    
        
    </button>

    <!-- <mat-form-field appearance="outline" style="margin-top: 15px; font-size: 0.8em; width: 140px;">
        <mat-label style="font-size: 1.2em;"> <b> Fecha de inicio </b></mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

    <button mat-raised-button [matMenuTriggerFor]="aboveMenu">  <b>Contrato</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <div class="example-raised-button-row">
      <div class="example-flex-container">
        <div class="example-raised-button-container">
          <button mat-fab style="background-color: #e961aa;" aria-label="Example icon button with a delete icon">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>


    
    </div >
  <!-- EMPLEOS end -->


  <button mat-button (click)="openDialogJob()">Empleos</button> 


  <!-- card start -->

   <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between center" fxLayoutGap="10px" style="padding: 20px;" >


       <div  class="card" *ngFor="let heroe of heroes" fxFlex="49">
     

            <div fxLayout="row" fxLayoutAlign=" center" fxFlex="30" >

                    <div  fxLayoutAlign="center center">
                        <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg">   			
                    </div>
                    
        
            </div>

             <div  fxLayout="column" fxFlex="70"  >

                <div fxLayout="row"  fxLayoutAlign="space-between start" fxFlex="100">

                        <div fxFlex="40" style="">

                            <h3 style="margin-top: 0.5em;"> Diseñador digital</h3>
                            <h4>{{heroe.nombre}}</h4>
                            <h4>2 años de Experiencia</h4>
                            
                        </div>
                        
                
                        <div fxFlex="60" fxLayoutAlign="end start" style=" margin-top: 1em;">
                        
                             <button  mat-raised-button  appearance="outline" type="submit"
                              style="background-color: #e961aa;border-radius: 15px; line-height: 20px; margin-right: 1em;"
                              >Aplicar</button>
            
                              <mat-icon style="font-size: 2em; margin-right: 0.5em; color: rgb(185, 185, 185);">bookmark_border</mat-icon>
                      
                    </div>
                 
                </div>
                    
            
            <div fxLayout="row" fxLayoutAlign="space-between" >
                <!-- <mat-divider [inset]="true"></mat-divider> -->
                <h4 style="">vdrtrtt</h4>
                <h4 style="margin-right: 1em;">vence en 30 dias</h4>
            </div>  
       
         </div>
      
    </div>
</div>
<!-- card end -->

