
img{
    width: 90%;
    height: 90%;
    border-radius: 13px;
     
}



.spacer {
 
    flex: 1 1 auto;  //eso le dice al span que cubra el espacio disponible entre los botones
}

.mat-divider{
    border-top-width: 1px;
    display: block;
    // width: 3px;
}

.card{

     border: 2px solid #e961aa;
     border-radius: 20px;
     box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 11px -5px rgba(0,0,0,0.75);
     margin-top: 15px;


}

.mat-raised-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
}

.mat-raised-button:active{
    background-color:#e961aa ;
}

.mat-button{
    border: 2px solid;
    border-radius: 20px;
    border-color: rgb(211, 211, 211);
}



.mat-form-field{
    font-size: 1em;
}

// .custom-modalbox {
//     mat-dialog-container {
//         padding: 0;
//         background-color: aqua;
//     }
// }