


<!-- se muestran cuando se presiona persona -->


<div fxLayout="row wrap"  fxLayoutAlign="space-evenly center" fxLayoutGap="2px" style="height: 180px;" *ngIf="showPeople" >

 <button mat-flat-button  style=" cursor:text; "> 
    <mat-label style="font-size: 1.3vw;"> <b >FILTROS</b> </mat-label>       
  </button>
    
    
    <button mat-button [matMenuTriggerFor]="field">  <b>Campos</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #field="matMenu" >
      <button mat-menu-item (click)="arrToFilter('tech1')">tech1</button>
      <button mat-menu-item (click)="arrToFilter('tech2')">tech2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="skills">  <b>Habilidades</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #skills="matMenu" >
      <button mat-menu-item (click)="arrToFilter('Programacion')">Programacion</button>
      <button mat-menu-item (click)="arrToFilter('Cloud Computing')">Cloud Computing</button>
      <button mat-menu-item (click)="arrToFilter('Blockchain')">Blockchain</button>

    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="software">  <b>Software</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #software="matMenu" >
      <button mat-menu-item (click)="arrToFilter('Adobe Illustrator')">Adobe Illustrator </button>
      <button mat-menu-item (click)="arrToFilter('Google Sketchup')">Google Sketchup</button>
      <button mat-menu-item (click)="arrToFilter('Gimp')"> Gimp</button>

    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="languaje">  <b>Idiomas</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #languaje="matMenu" >
      <button mat-menu-item (click)="arrToFilter('Ingles')">Ingles</button>
      <button mat-menu-item (click)="arrToFilter('Español')">Español</button>
      <button mat-menu-item (click)="arrToFilter('Italiano')">Italiano</button>

    </mat-menu>
    

    <button mat-button [matMenuTriggerFor]="expertise"> <b>Experiencia</b> <mat-icon >expand_more</mat-icon></button>
 <mat-menu #expertise="matMenu">
   <button mat-menu-item [matMenuTriggerFor]="min">Min</button>
   <button mat-menu-item [matMenuTriggerFor]="max">Max</button>
 </mat-menu>
 <mat-menu #min="matMenu">
   <button mat-menu-item (click)="arrToFilter('min 1')">1 año</button>
   <button mat-menu-item (click)="arrToFilter('min 5')">5 años</button>
 </mat-menu>

 <mat-menu #max="matMenu">
   <button mat-menu-item (click)="arrToFilter('max 5')">5 años</button>
   <button mat-menu-item (click)="arrToFilter('max 10')">10 años</button>
 </mat-menu>
 
    
    <button mat-button [matMenuTriggerFor]="contract">  <b>Contrato</b>  <mat-icon >expand_more</mat-icon></button>
    <mat-menu #contract="matMenu" >
      <button mat-menu-item (click)="arrToFilter('Termino indefinido')">Termino indefinido</button>
      <button mat-menu-item (click)="arrToFilter('Prestacion de servicios')">Prestación de servicios</button>
      <button mat-menu-item (click)="arrToFilter('Obra labor')">Obra labor</button>
    </mat-menu>
    
    <button mat-button  style=" background-color: black;color: whitesmoke; " (click)="sendForm()"> 
      <mat-label> <b >Buscar</b> </mat-label>       
    </button> 

 

<!--      
    <button mat-raised-button fxFlex="25" (click)="selectSkill('triD')" [ngStyle]="triD ? {'backgroundColor': 'black','color':'white'}  : {}" >Animacion 3D 
      &nbsp;
  <mat-icon style="color: white;" [ngStyle]="triD ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button> -->
 
    
    </div>

<!-- start filter options -->
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5px" >

    <div [ngStyle]="(camp) ? {'display': 'inline'} : {'display': 'none'}"  style="margin-left: 20px;" >     
      <button mat-raised-button  (click)="closeElementToFilter('campo'); dataToDelete(catCampo)"  >{{catCampo}} 
        &nbsp;
    <mat-icon [ngStyle]="camp ? {'display':'inline'}:{'display':'none'} " >close</mat-icon> </button>
    </div>

    <div [ngStyle]="(hab) ? {'display': 'inline'} : {'display': 'none'}">     
      <button mat-raised-button  (click)="closeElementToFilter('habilidad'); dataToDelete(catHabilidad)"  >{{catHabilidad}} 
        &nbsp;
    <mat-icon [ngStyle]="hab ? {'display':'inline'}:{'display':'none'} "  >close</mat-icon> </button>
    </div>

    <div [ngStyle]="(soft) ? {'display': 'inline'} : {'display': 'none'}">     
      <button mat-raised-button  (click)="closeElementToFilter('software'); dataToDelete(catSoftware)"  >{{catSoftware}} 
        &nbsp;
    <mat-icon [ngStyle]="soft ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
    </div>

    <div [ngStyle]="(lang) ? {'display': 'inline'} : {'display': 'none'}">     
      <button mat-raised-button *ngIf="lang" (click)="closeElementToFilter('languaje'); dataToDelete(catLanguaje)"  >{{catLanguaje}} 
        &nbsp;
    <mat-icon [ngStyle]="lang ? {'display':'inline'}:{'display':'none'}" >close</mat-icon> </button>
    </div>

    <div [ngStyle]="(exp) ? {'display': 'inline'} : {'display': 'none'}">     
      <button mat-raised-button  (click)="closeElementToFilter('experience'); dataToDelete(catExperience)"  >{{catExperience}} 
        &nbsp;
    <mat-icon [ngStyle]="exp ? {'display':'inline'}:{'display':'none'}">close</mat-icon> </button>
    </div>

    <div [ngStyle]="(contr) ? {'display': 'inline'} : {'display': 'none'}" >     
      <button mat-raised-button  (click)="closeElementToFilter('contract'); dataToDelete(catContract)"  >{{catContract}} 
        &nbsp;
    <mat-icon [ngStyle]="contr? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
    </div>


    </div>
<!-- end filter options -->

   

    
    <!-- <button mat-button  routerLink="../../publicacion"  >Experiencia publicada</button>  
    <button mat-button  routerLink="../../eliminar"  >Eliminar</button>   -->


<!-- Chips start -->
        <!-- start container skills -->
        <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="space-around space-between" style="margin-top: 30px; height: 100px;">

        
          <button mat-raised-button fxFlex="25" (click)="selectSkill('publicity')" [ngStyle]="publicity ? {'backgroundColor': 'black','color':'white'}  : {}" >Fotografia Publicitaria 
              &nbsp;
          <mat-icon style="color: white;" [ngStyle]="publicity ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
          
  
          <button mat-raised-button fxFlex="25" (click)="selectSkill('portrait')" [ngStyle]="portrait ? {'backgroundColor': 'black','color':'white'}  : {}" >Retratos 
              &nbsp;
          <mat-icon style="color: white;" [ngStyle]="portrait ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
  
          <button mat-raised-button fxFlex="25" (click)="selectSkill('landscape')" [ngStyle]="landscape  ? {'backgroundColor': 'black','color':'white'}  : {}" >Paisajismo
              &nbsp;
          <mat-icon style="color: white;" [ngStyle]="landscape  ? {'display':'inline'}:{'display':'none'} ">close</mat-icon> </button>
  
          </div> -->
          <!-- end container skills -->
 
<!-- Chips end -->



    
   <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between center" fxLayoutGap="10px"
       style="padding: 20px;" >


    <div  class="card" *ngFor="let artist of arrArtist" fxFlex="49" fxFlex.xs="100"  routerLink="../../artistas/perfil" style="cursor: pointer;">
  

         <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30"  >

                     <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" fxFlex="100">   			
                 
     
         </div>

          <div  fxLayout="column" fxFlex="70"  >

             <div class="text" fxLayout="row wrap"  style="height: 100%;" >

                     <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="start space-around" style="margin-top: 1em;">

                      <mat-label style="font-size: 1.6vw;"> <b>{{artist.userName}}</b></mat-label> <br>
                      <mat-label style="font-size: 1vw;"> </mat-label> <br>
                      <mat-label>{{artist.email}}</mat-label>
                         
                     </div>
                     
             
                     <div fxFlex="60" fxLayoutAlign="end start">
                     
                          <button  mat-button  appearance="outline" type="submit" class="follow"   matTooltip="en proceso"
                            >Seguir</button>
         
                           <mat-icon class="bookmark"  matTooltip="en proceso">bookmark_border</mat-icon>
                   
                 </div>
              
             </div>
                 
         
         <div class="text" fxLayout="row" fxLayoutAlign="space-between" >
             <!-- <mat-divider [inset]="true"></mat-divider> -->
             <h4 style="">{{artist.city}} - {{artist.state}}</h4>
             <h4 style="margin-right: 1em;">2 años de experiencia</h4>
         </div>  
    
      </div>
   
 </div>
</div>




