




<div class="mat-dialog-container">

    <div >
  
 
  
          <mat-dialog-actions align="end" fxLayoutAlign="space-between center">
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">arrow_back</mat-icon>
            <mat-icon  mat-button mat-dialog-close style="cursor: pointer;">close</mat-icon>
          </mat-dialog-actions>
  </div>
  <br>
  <h1 mat-dialog-title style="color: #B29DD5;">Crea tu concurso </h1>
  <!-- <mat-label style="font-size: 0.9em;">*campos obligatorios</mat-label> -->
  <br>
  
  <mat-dialog-content>

 

  <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
  
  
      <form  [formGroup]="myForm" (ngSubmit)="sendForm()" id="form" fxFlex="100"  >     
  
         
          
      
          
        <div fxLayoutAlign="space-between center">  

          
            <mat-form-field appearance="outline" fxFlex="49" > 
              
            <mat-label>Nombre del concurso*</mat-label>
                    <input matInput type="text" required formControlName="education">
                    <!-- <mat-error  *ngIf ="validField ('education')">
                      completa este dato
                    </mat-error>  -->
            </mat-form-field>
           
       
            
  
          <mat-form-field appearance="outline" fxFlex="49">		
          
            <mat-label >Modalidad</mat-label>
            <input matInput type="text" required formControlName="degree">
             <!-- <mat-error  *ngIf ="validField ('degree')">
                completa este dato / no es un formato de email valido
            </mat-error>  -->

          </mat-form-field> 
          
   
        </div>
          

        <div fxLayoutAlign="space-between center" >
        
          <mat-form-field appearance="outline" fxFlex="49" >
             <mat-label>Categoría*</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
                <!-- <mat-error  *ngIf ="validField ('titular')">
                  completa este dato
              </mat-error>  -->
        </mat-form-field>
       

        <mat-form-field appearance="outline" fxFlex="49" >
            <mat-label>Link para aplicar*</mat-label>
               <mat-select>
                 <mat-option>None</mat-option>
                 <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
               </mat-select>
               <!-- <mat-error  *ngIf ="validField ('titular')">
                 completa este dato
             </mat-error>  -->
         </mat-form-field>
          
    </div>
    
    <div fxLayoutAlign="space-between center" >

        <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Fecha de inscripción</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
      
            
            <mat-form-field appearance="outline" fxFlex="49" >

                <mat-label>Costo del concurso*</mat-label>
                <input matInput type="text" required formControlName="education">
                <!-- <mat-error  *ngIf ="validField ('education')">
                  completa este dato
                </mat-error>  -->
             
          
            </mat-form-field>  
       
    
        
        </div>  

                  
        <div fxLayoutAlign="space-between center">  

          
            <mat-form-field appearance="outline" fxFlex="49" > 
              
            <mat-label>Cantidad de aplicantes*</mat-label>
                    <input matInput type="text" required formControlName="education">
                    <!-- <mat-error  *ngIf ="validField ('education')">
                      completa este dato
                    </mat-error>  -->
            </mat-form-field>
           
       
            
  
          <mat-form-field appearance="outline" fxFlex="49">		
          
            <mat-label >Idioma</mat-label>
            <input matInput type="text" required formControlName="degree">
             <!-- <mat-error  *ngIf ="validField ('degree')">
                completa este dato / no es un formato de email valido
            </mat-error>  -->

          </mat-form-field> 
          
   
        </div>

        <div fxLayoutAlign="space-between center" >
        
            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Pais*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  

            
            <mat-form-field appearance="outline" fxFlex="24" >
              
                <mat-label>Ciudad*</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
            </mat-form-field>  
       
          <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
            <mat-label>Software</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
        
        </div>  

     <div fxLayoutAlign="space-between center" >
        <section class="example-section" fxFlex="49" >
               
        <mat-radio-button class="example-margin" value="after">Incluir descripción de la empresa</mat-radio-button>
        </section>
       
    </div>
<br>
    <div fxLayoutAlign="center"  >

        <mat-form-field appearance="outline" fxFlex="100" >
            <mat-label>Descripcion del premio</mat-label>
            <textarea matInput 
            rows="7" 
             formControlName="comment" 
            (change)="onCommentChange()">          
            </textarea>
        </mat-form-field> 
        
    </div>

    
        <div class="buttonGroup" fxLayoutAlign="center center" fxLayoutGap="20px"  >
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit"><mat-label >Guardar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" ><mat-label >Previsualizar</mat-label></button>
          <button  fxFlex="30" mat-raised-button  appearance="outline" type="submit" style="background-color: black;;"><mat-label style="color: blanchedalmond;">Publicar</mat-label></button>
        </div> 

        </form>
      
   </div>

  </mat-dialog-content>
  
  
  </div> 
