/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




  .custom-modalbox {
    mat-dialog-container {
        padding: 0;
        width: 1200px;
        height: 100%;
   

    }
}

.mat-dialog-container {
  border-radius: 40px !important;


}

.custom-modalbox-opacity {
  mat-dialog-container {
      padding: 0px;
      width: 900px;
      height: 700px;
      opacity: 0.97;
  
    }

  }

  ul{
    list-style: none;
  }
   
    
