/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




  .custom-modalbox {
    mat-dialog-container {
        padding: 0;
        width: 800px;
        height: 100%;
   

    }
}
.mat-dialog-content{
  padding: 0!important;
}  

.mat-dialog-container {
  border-radius: 25px !important;
  margin: 0 auto;
}

.custom-modalbox-opacity {
  mat-dialog-container {
      padding: 0px;
      width: 900px;
      height: 700px;
      // opacity: 0.97;
  
    }

  }

  .custom-modalbox-experience {
    mat-dialog-container {
        padding: 0px!important;
        width: 1000px;
        height: 700px;
        overflow-y: hidden;
     }
    }

.custom-modalbox-education{
  mat-dialog-container {
      padding: 0px!important;
      width: 1000px;
      height: 500px;
      overflow-y: hidden;
    }
  }  

  ul{
    list-style: none;
  }
   

  .mat-tooltip {
    background-color: rgb(185, 185, 185);
    font-size: 1vw;
  }


  
  @font-face {
    font-family:'ribeye';
    src: url(/assets/font/Ribeye-Regular.ttf);
     
  }

  @font-face {
    font-family:'wandita';
    src: url(/assets/font/Wandita.ttf);
  }

