
.mat-dialog-container{

    border: 5px solid #e961aa;
    // border-radius: 25px;
}

.openSidenav{
    display: block;
    transition: all 3s ease 0s; 
}



.closeSidenav{
    display: none;
}
mat-card{
    overflow-x: scroll;
}