


  .mat-dialog-container {
    padding: 0!important;
    border: 5px solid #b0bcec;

    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
  }

  mat-form-field.mat-form-field{
    font-size: 0.7vw;
    border-color: 5px solid #b0bcec;

  }


  mat-label{
      font-size: 1vw;
  }

  mat-select{
    font-size: 1vw;
  }

  input{
    
    font-size: 1vw;

  }


  textarea{
    font-size: 1vw;

  }
 
  .example-spacer{
    flex:1 1 auto;
  }

  .mat-raised-button{

      border-radius: 30px;
      background-color:#b0bcec;
  }

  .buttonGroup{
       background-color: #b0bcec;
       margin-bottom: 15px;
       border-radius:10px;

       box-shadow: 10px 10px 29px -6px rgba(87,87,87,0.83);
      -webkit-box-shadow: 10px 10px 29px -6px rgba(87,87,87,0.83);
      -moz-box-shadow: 10px 10px 29px -6px rgba(87,87,87,0.83);
  }

//input outline color

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #b0bcec;
    opacity: 1!important;
}


//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #b0bcec!important;
}


// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}


// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #b0bcec!important;
}


@media only screen and (max-width: 479px) {
    
       
       
}  
   
 


/* Medium devices (landscape tablets, 768px and up) */


@media only screen and (min-width: 480px) and (max-width: 767px){

.close{
  margin-top: 1vw; 
}

.buttonGroup{
    height: 10vw; 
    margin-bottom: 0;
    border-radius: 3vw solid #b0bcec;
    // margin-top:2vw;
}

  
    

  
   
}  
   

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
   



  

}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
   
.buttonGroup{
  height: 6vw; 
  margin-top:30px;
}



  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1281px) and (max-width: 1900px) {


  .buttonGroup{
    height: 5vw; 
    margin-bottom:10px;
}

mat-form-field.mat-form-field{
  font-size: 0.5vw;

}

mat-select{
  font-size: 0.8vw;
}

input{
  font-size: 0.8vw;
}


 
   
}