






<!-- se muestran cuando se presiona persona -->
<div fxLayout="row wrap"  fxLayoutAlign="space-evenly center" fxLayoutGap="2px" style="height: 180px;" *ngIf="showPeople" >

    <button mat-button  style=" background-color: black;color: whitesmoke; cursor:text; "> 
      <mat-label> <b >FILTROS</b> </mat-label>       
    </button>
      
      <button mat-button [matMenuTriggerFor]="field">  <b>Campos</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #field="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="skills">  <b>Habilidades</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #skills="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="software">  <b>Software</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #software="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="languaje">  <b>Idiomas</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #languaje="matMenu" >
        <button mat-menu-item>Inglés</button>
        <button mat-menu-item>Español</button>
      </mat-menu>
      
  
      <button mat-button [matMenuTriggerFor]="expertise"> <b>Experiencia</b> <mat-icon >expand_more</mat-icon></button>
   <mat-menu #expertise="matMenu">
     <button mat-menu-item [matMenuTriggerFor]="min">Min</button>
     <button mat-menu-item [matMenuTriggerFor]="max">Max</button>
   </mat-menu>
   <mat-menu #min="matMenu">
     <button mat-menu-item>1 año</button>
     <button mat-menu-item>5 años</button>
   </mat-menu>
  
   <mat-menu #max="matMenu">
     <button mat-menu-item>5 años</button>
     <button mat-menu-item>10 años</button>
   </mat-menu>
   
      
      <button mat-button [matMenuTriggerFor]="contract">  <b>Contrato</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #contract="matMenu" >
        <button mat-menu-item>Termino indefinido</button>
        <button mat-menu-item>Prestación de servicios</button>
        <button mat-menu-item>Obra labor</button>
      </mat-menu>
      
      <button mat-button  style=" background-color: black;color: whitesmoke; "> 
        <mat-label> <b >Buscar</b> </mat-label>       
      </button>
      
      
      </div>
  
      <!-- <button mat-button (click)="openDialog()">Personas</button>  -->
      <button mat-button routerLink="/escuelas/posteo">Posteo</button>
      <button mat-button routerLink="/escuelas/sugerir">Tag</button>

  
  
  
      
     <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between center" fxLayoutGap="10px" style="padding: 20px;" >
  
  
      <div  class="card" *ngFor="let heroe of heroes" fxFlex="49">
    
  
           <div fxLayout="row" fxLayoutAlign=" center" fxFlex="30" >
  
                   <div  fxLayoutAlign="center center">
                       <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg">   			
                   </div>
                   
       
           </div>
  
            <div  fxLayout="column" fxFlex="70"  >
  
               <div fxLayout="row"  fxLayoutAlign="space-between start" fxFlex="100">
  
                       <div fxFlex="40" style="">
  
                           <h3 style="margin-top: 0.5em;"> Diseñador digital</h3>
                           <h4>{{heroe.nombre}}</h4>
                           <h4>2 años de Experiencia</h4>
                           
                       </div>
                       
               
                       <div fxFlex="60" fxLayoutAlign="end start" style=" margin-top: 1em;">
                       
                            <button  mat-button  appearance="outline" type="submit"
                             style="background-color: #ffa076;border-radius: 15px; line-height: 20px; margin-right: 1em;"
                             >Aplicar</button>
           
                             <mat-icon style="font-size: 2em; margin-right: 0.5em; color: rgb(185, 185, 185);">bookmark_border</mat-icon>
                     
                   </div>
                
               </div>
                   
           
           <div fxLayout="row" fxLayoutAlign="space-between" >
               <!-- <mat-divider [inset]="true"></mat-divider> -->
               <h4 style="">vdrtrtt</h4>
               <h4 style="margin-right: 1em;">vence en 30 dias</h4>
           </div>  
      
        </div>
     
   </div>
  </div>
  
  