






<!-- se muestran cuando se presiona persona -->
<div fxLayout="row wrap"  fxLayoutAlign="space-evenly center" fxLayoutGap="2px" style="height: 180px;" *ngIf="showPeople" >

  <button mat-flat-button  style=" cursor:text; "> 
    <mat-label style="font-size: 1.3vw;"> <b >FILTROS</b> </mat-label>       
  </button>
    
      
      <button mat-button [matMenuTriggerFor]="field">  <b>Campos</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #field="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="skills">  <b>Habilidades</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #skills="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="software">  <b>Software</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #software="matMenu" >
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="languaje">  <b>Idiomas</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #languaje="matMenu" >
        <button mat-menu-item>Inglés</button>
        <button mat-menu-item>Español</button>
      </mat-menu>
      
  
      <button mat-button [matMenuTriggerFor]="expertise"> <b>Experiencia</b> <mat-icon >expand_more</mat-icon></button>
   <mat-menu #expertise="matMenu">
     <button mat-menu-item [matMenuTriggerFor]="min">Min</button>
     <button mat-menu-item [matMenuTriggerFor]="max">Max</button>
   </mat-menu>
   <mat-menu #min="matMenu">
     <button mat-menu-item>1 año</button>
     <button mat-menu-item>5 años</button>
   </mat-menu>
  
   <mat-menu #max="matMenu">
     <button mat-menu-item>5 años</button>
     <button mat-menu-item>10 años</button>
   </mat-menu>
   
      
      <button mat-button [matMenuTriggerFor]="contract">  <b>Contrato</b>  <mat-icon >expand_more</mat-icon></button>
      <mat-menu #contract="matMenu" >
        <button mat-menu-item>Termino indefinido</button>
        <button mat-menu-item>Prestación de servicios</button>
        <button mat-menu-item>Obra labor</button>
      </mat-menu>
      
      <button mat-button  style=" background-color: black;color: whitesmoke; "> 
        <mat-label> <b >Buscar</b> </mat-label>       
      </button>
      
      
      </div>
  
      <!-- <button mat-button (click)="openDialog()">Personas</button>  -->
      <button mat-button routerLink="/escuelas/posteo">Posteo</button>
      <button mat-button routerLink="/escuelas/sugerir">Tag</button>

  
  
    <!-- card start -->

    <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="space-between center" fxLayoutGap="10px"
    style="padding: 20px;" (click)="openDialogSchool()" >
  
  
  <div  class="card" *ngFor="let heroe of heroes" fxFlex="49" fxFlex.xs="100"  routerLink="../../escuelas/listas" style="cursor: pointer;">
  
  
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30"  >
  
                  <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" fxFlex="100">   			
              
  
      </div>
  
       <div  fxLayout="column" fxFlex="70"  >
  
          <div class="text" fxLayout="row wrap"  style="height: 100%;" >
  
                  <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="start center" style="margin-top: 1em; line-height: 15px;">
  
                   <p style="font-size: 1.6vw;"> <b>U de los Andes</b></p> 
                   <p style="font-size: 1vw;"> FACULTAD DE ARTES Y DISEÑO</p> 
                   <p>www.uandes.com</p>
                      
                  </div>
                  
          
                  <div fxFlex="60" fxLayoutAlign="end start">
                  
                       <button  mat-button  appearance="outline" type="submit" class="follow">Seguir</button>
      
                        <mat-icon class="bookmark" >bookmark_border</mat-icon>
                
              </div>
           
          </div>
              <div class="separator"></div>
      
      <div class="text" fxLayout="row" fxLayoutAlign="space-between" >
          <!-- <mat-divider [inset]="true"></mat-divider> -->
          <h4 >Colombia - Bogota</h4>
          <h4 style="margin-right: 1em;">15 años de trayectoria</h4>
      </div>  
  
   </div>
  
  </div>
  </div>
  <!-- card end -->
  
    
      
    

  